.button

	cursor: pointer
	width: 50%
	background: $green
	padding: 9px
	font-weight: 700
	font-size: 18px
	line-height: 1
	color: white
	height: 52px
	max-width: 213px
	+flex(row, center, center, wrap)
	+trs

	&_green
		&:hover
			background: $red
			+trs

	&_red
		padding: 21px 52px
		background: $pink
		+mq($max-width: 1200px)
		padding: 10px 20px
		+mq($max-width: 575px)
			min-width: 150px
		&:hover
			background: $green
			+trs
	&_margin
		margin-top: 30px

	&_transparent
		border: 1px solid #E0E0E0
		cursor: pointer
		width: calc(50% - 2px)
		text-align: center
		height: 40px
		font-size: 14px
		color: $green
		background-color: transparent
		font-weight: 500
		height: 40px
		padding: 0
		+mq($max-width: 700px)
			padding: 0 5px
		&:hover
			color: $red
			+trs

	&_cart
		height: 40px
		cursor: pointer
		width: calc(50% - 2px)
		background: $green
		padding: 0 9px
		font-size: 14px
		color: white
		+flex(row-reverse, center, center, wrap)

		svg
			margin-right: 15px
			path
				fill: white
		&:hover
			background: $red

	&_review
		height: 86px
		width: 300px
		max-width: unset
		font-size: 20px
		+flex(row, center, center, wrap)
		border-radius: 43px

		svg
			margin-left: 35px

		&:hover
			background-color: $pink
			+trs

		+mq($max-width: 575px)
			height: 60px
			font-size: 18px
			max-width: 260px
			width: 100%
			svg
				height: 30px
				width: 30px
				margin-left: 20px

	&_article
		height: 86px
		width: 340px
		border-radius: 43px
		max-width: unset
		flex-direction: row-reverse
		background-color: $articles
		color: $articles_text

		+mq($max-width: 575px)
			height: 60px
			width: 100%
			max-width: 250px

		svg
			margin-right: 30px
			+mq($max-width: 575px)
				height: 30px
				width: 30px
				margin-right: 15px

		&_next
			flex-direction: row
			svg
				margin-left: 30px
				margin-right: 0
				transform: scaleX(-1)

			+mq($max-width: 575px)
				margin-top: 10px

		&:hover
			background-color: $green
			color: white
			svg
				path
					fill: white

	&_more
		border: 1px solid $line_2
		width: 260px !important
		display: flex !important
		height: 50px
		background-color: #fff
		color: $line_2
		border-radius: 30px
		font-weight: 600
		margin: 50px auto 0 !important
		+mq($max-width: 575px)
			margin: 30px auto 0 !important

	&_submit
		width: 311px
		height: 60px
		font-style: normal
		font-weight: bold
		font-size: 20px
		max-width: unset
		+mq($max-width: 575px)
			max-width: 311px
			width: 100%

	&__wrapper
		width: 100%
		padding: 0 0 50px 0
		margin: 0 auto
		max-width: 1560px
		display: flex
		justify-content: space-between
		+mq($max-width: 1650px)
			padding: 0 15px 50px
			max-width: 100%
		+mq($max-width: 1200px)
			padding: 0 15px 40px
			max-width: 100%
		+mq($max-width: 575px)
			padding: 0 10px 30px
			flex-direction: column
			align-items: center
