.card
    width: 100%

    &__content
        p
            font-style: normal
            font-weight: 500
            font-size: 18px
            line-height: 135.17%
            color: #000000
            margin-bottom: 10px
            +mq($max-width: 575px)
                font-size: 16px

    &__special
        font-style: normal
        font-weight: bold
        font-size: 21px
        line-height: 139.3%
        color: $green
        margin-top: 40px
        +mq($max-width: 575px)
            margin-top: 20px
            font-size: 18px

    &__type
    &__option
        display: flex
        align-items: center
    &__image
        width: 101px
        height: 63px
        flex: 0 0 101px

        img
            height: 100%
            width: 100%
    &__caption
        padding: 0 0 0 30px
        +mq($max-width: 575px)
            padding: 0 0 0 20px
    &__title
        font-style: normal
        font-weight: bold
        font-size: 29px

        color: #000000
        +mq($max-width: 575px)
            font-size: 22px

    &__subtitle
        font-style: normal
        font-weight: normal
        font-size: 21px
        +mq($max-width: 575px)
            font-size: 14px

        color: $card

    &__description
        padding: 30px 0 0 0
        +mq($max-width: 575px)
            padding: 20px 0 0 0
        p
            font-style: normal
            font-weight: normal
            font-size: 18px
            line-height: 160%
            color: #000000
            +mq($max-width: 575px)
                font-size: 16px
                line-height: 137%

    &__inner
        width: 100%
        display: grid
        grid-template-columns: 1fr 1fr
        grid-gap: 60px 30px

        padding: 0 0 70px 0
        margin: 0 auto
        max-width: 1560px
        +mq($max-width: 1650px)
            padding: 0 15px 70px
            max-width: 100%
        +mq($max-width: 1200px)
            padding: 0 15px 60px
            max-width: 100%

        +mq($max-width: 575px)
            padding: 0 10px 40px
            grid-template-columns: 1fr
            grid-gap: 20px
