.delivery
	display: flex
	padding: 0 0 100px 0
	flex-flow: wrap
	+mq($max-width: 1024px)
		flex-direction: column
	+mq($max-width: 575px)
		padding: 0 0 50px 0
	&__box
		width: calc(50% + 90px)
		position: relative

		+mq($max-width: 1650px)
			padding: 0 15px 0 0
			width: 50%

		+mq($max-width: 1200px)
			padding: 0 15px 0 0
			width: 50%

		+mq($max-width: 1024px)
			padding: 0 15px
			width: 100%
		+mq($max-width: 575px)
			padding: 0 10px

		&_left
			display: flex
			justify-content: flex-end
			width: calc(50% - 90px)

			+mq($max-width: 1650px)
				padding: 0 0 0 15px
				width: 50%

			+mq($max-width: 1200px)
				padding: 0 0 0 15px
				width: 50%

			+mq($max-width: 1024px)
				padding: 0 15px
				width: 100%

			+mq($max-width: 575px)
				padding: 0 10px

			img
				height: 100%
				width: 100%
				object-fit: cover

	&__content
		padding: 40px 0 0 30px
		+mq($max-width: 575px)
			padding: 20px 0

	&__text
		p
			font-style: normal
			font-weight: 500
			font-size: 18px
			line-height: 36px

			color: #000000
			margin-bottom: 20px

		var
			font-weight: bold
			font-style: normal
			color: $green
		strong
			font-weight: bold
			color: $pink

	&__inner
		width: 100%
		display: flex
		padding: 60px 0

		margin: 0 auto
		max-width: 1560px
		+mq($max-width: 1650px)
			padding: 60px 15px
			max-width: 100%
		+mq($max-width: 1200px)
			padding: 50px 15px
			max-width: 100%
		+mq($max-width: 1024px)
			flex-direction: column
			padding: 20px 15px
		+mq($max-width: 575px)
			padding: 0 10px

	&__caption
		width: calc(50% - 100px)

		+mq($max-width: 1650px)
			width: 50%
		+mq($max-width: 1280px)
			width: 40%
		+mq($max-width: 1024px)
			width: 100%

		&:last-child
			width: calc(50% + 100px)
			padding: 0 0 0 30px

			+mq($max-width: 1650px)
				width: 50%
			+mq($max-width: 1280px)
				width: 60%
			+mq($max-width: 1024px)
				width: 100%
				padding: 0

	&__tariffs

		padding: 0 0 0 20px
		display: grid
		grid-template-columns: 1fr 1fr
		grid-gap: 20px

		+mq($max-width: 575px)
			grid-template-columns: 1fr
			padding: 0

	&__title
		font-style: normal
		font-weight: 500
		font-size: 24px
		line-height: 140%
		color: #000000
		margin-bottom: 20px
		min-height: 70px

		+mq($max-width: 1024px)
			font-size: 18px
			min-height: unset
			

		&_warning
			position: relative
			padding: 0 0 0 90px
			margin-bottom: 25px
			svg
				position: absolute
				top: calc(50% - 28px)
				left: 15px
				height: 56px
				width: 56px

	&__description

		+mq($max-width: 1024px)
			padding: 0 0 20px 0
		p
			font-style: normal
			font-weight: normal
			font-size: 18px
			line-height: 154.9%
			color: #000000
			margin-bottom: 20px

			+mq($max-width: 1024px)
				font-size: 16px

		quote
			font-style: normal
			font-weight: normal
			font-size: 16px
			line-height: 154.9%
			color: #000000

	&__table

		table
			width: 100%
			background: #FFFFFF
			border-collapse: collapse
			border: 1px solid $form_bg
			display: flex
			border-radius: 15px

			tbody
				width: 100%

		td
			height: 51px
			vertical-align: middle
			padding: 0 20px 0 37px
			font-style: normal
			font-weight: normal
			font-size: 18px
			line-height: 124%
			color: $table

			+mq($max-width: 575px)
				font-size: 16px
			&:first-child
				text-align: left
			&:last-child

				text-align: right

		tr:nth-child(even)
			background-color: $form_bg
			td

		tr:first-child
			td:first-child

		tr
			display: flex
			justify-content: space-between
			width: 100%

			&:last-child
				border-radius: 0 0 15px 15px
		td
			display: flex
			align-items: center
			justify-content: center
			border-radius: 15px

	&__callback
		padding: 8px 0 0 0
		font-weight: 500
		font-size: 16px
		line-height: 154.9%
		text-align: center
		color: #000000

		a
			color: $pink
			text-decoration: underline
