.favorite

	&__inner
		padding: 0 0 100px 0
		margin: 0 auto
		max-width: 1560px
		+mq($max-width: 1650px)
			padding: 0 15px 100px
			max-width: 100%
		+mq($max-width: 1200px)
			padding: 0 15px 100px
			max-width: 100%
		+mq($max-width: 1024px)

		+mq($max-width: 575px)
			padding: 0 10px 50px

	&__title
		font-style: normal
		font-weight: 500
		font-size: 18px
		line-height: 22px
		color: #02A950

		span
			color: black

	&__table
		overflow-x: auto
		padding: 100px 0 50px

		table
			width: 100%
			border-collapse: collapse
			min-width: 767px

		tr
			&:not(:first-child)
				border-bottom: 1px solid #D2D2D2

		th
			font-style: normal
			font-weight: 600
			font-size: 18px
			line-height: 22px
			color: #02A950
			padding: 0 5px

		td
			font-style: normal
			font-weight: normal
			font-size: 16px
			line-height: 19px
			text-align: center
			color: #000000
			padding: 30px 5px

			a
				font-style: normal
				font-weight: normal
				font-size: 16px
				line-height: 19px
				text-align: center
				color: #000000
				padding: 30px 5px

				&:visited
					font-style: normal
					font-weight: normal
					font-size: 16px
					line-height: 19px
					text-align: center
					color: #000000
					padding: 30px 5px

		&_history
			tr
				&:nth-child(even)
					background-color: #EFF3F9
			th
				padding: 20px 5px

			td
				padding: 20px 5px
				&:last-child
					border-left: 1px solid #D2D2D2

		&_finance
			tr
				&:nth-child(even)
					background-color: #EFF3F9
			th
				padding: 20px 5px
				ta

			td
				padding: 20px 5px
				ta

	&__options
		display: flex
		justify-content: center

		&_count

			align-items: center
			.favorite__action

				svg
					margin: 0

	&__count
		margin: 0 15px
		font-style: normal
		font-weight: normal
		font-size: 20px
		letter-spacing: 0.03em
		color: #000000
		width: 47px
		text-align: center

	input[type='number']
		-moz-appearance: textfield

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button
		-webkit-appearance: none

	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button
		-webkit-appearance: none
		margin: 0

	&__action
		display: flex
		flex-direction: row-reverse
		justify-content: flex-end
		align-items: center
		cursor: pointer

		&_repeat

			&:hover
				svg
					path
						fill: white
					circle
						fill: $green
		&_add

			&:hover
				svg
					path
						fill: white
					circle
						fill: $green
		&_minus

			&:hover
				svg

					path
						fill: white
					circle
						fill: $green
		&_plus

			&:hover
				svg

					path
						fill: white
					circle
						fill: $green
		&_delete

			&:hover
				svg
					path
						fill: $red

		svg
			margin-right: 10px

		&_delete
			margin-left: 10px

	&__image
		padding: 0 0 0 50px

		img
			height: 100px

	&__buttons
		display: flex
		flex-flow: wrap
		justify-content: space-between
		align-items: center

		.button
			margin: 10px 0

	&__total
		font-style: normal
		font-weight: bold
		font-size: 24px
		color: $green
		margin: 0 30px 0 auto

		+mq($max-width: 575px)
			font-size: 18px
			margin: 0
			padding: 10px 0
		span
			font-weight: 400
			color: black
			font-size: 35px

			+mq($max-width: 575px)
				font-size: 22px
