.feedback
	// temp
	margin: 0 auto
	max-width: 540px
	width: 100%
	display: flex
	flex-direction: column
	background-color: #fff
	padding: 40px
	+mq($max-width: 575px)
		padding: 15px

	&_grid
		max-width: 750px

	&_registration
		max-width: unset
		padding-bottom: 100px
		position: relative

		.feedback__heading
			padding: 0
		.feedback__subscribe
			margin-top: 50px

		.button
			width: 100%
			+mq($max-width: 575px)
				width: 100%
				max-width: unset

	&_reclamation
		border: 1px solid #EBEBEB
		.feedback__textarea
			height: 150px
			+mq($max-width: 575px)
				margin-bottom: 20px

		.feedback__fieldset
			&:last-of-type

				padding: 0

	&_entry
		border: 1px solid #EBEBEB
		padding: 40px
		min-width: none
		max-width: 500px

		+mq($max-width: 575px)
			padding: 20px 10px

	&__image
		position: absolute
		top: -60px
		right: 145px
		+mq($max-width: 1500px)
			right: 33px
		+mq($max-width: 1200px)
			display: none
	// temp

	&__subtitle
		font-style: normal
		font-weight: 500
		font-size: 18px
		line-height: 22px
		text-align: center
		color: $form
		margin-bottom: 40px

		a
			color: $green
			text-decoration: underline

	&__heading
		font-style: normal
		font-weight: normal
		font-size: 18px
		line-height: 22px
		color: #2B2B2B
		margin-bottom: 20px
		width: 100%
		text-align: left
		padding: 0 0 0 30px
		height: 22px

	&__questions
		font-style: normal
		font-weight: normal
		font-size: 21px
		line-height: 25px
		text-align: center
		color: $form
		padding: 20px 0

	&__form
		max-width: 370px
		width: 100%
		margin: 0 auto
		display: flex
		flex-direction: column
		align-items: center

		&_grid

			max-width: unset

		&_registration
			max-width: 1240px
			display: grid
			grid-template-columns: repeat(auto-fit, 370px)
			justify-content: center
			grid-gap: 30px

			padding: 30px
			border: 1px solid #EBEBEB

			+mq($max-width: 767px)
				grid-gap: 0
				grid-template-columns: 1fr

	&__fieldset
		display: grid
		grid-template-columns: 1fr 1fr
		width: 100%
		grid-gap: 0 30px

		align-items: start

		+mq($max-width: 575px)
			grid-template-columns: 1fr
			justify-content: center

		&:last-of-type
			padding: 0 0 30px 0

		&_rows
			grid-template-rows: 85px 85px 85px 85px
			+mq($max-width: 575px)
				grid-template-rows: auto

	&__box
		display: grid
		grid-template-rows: 52px 85px 85px 100px
		+mq($max-width: 767px)
			grid-template-rows: auto

	&__textarea

		height: 140px
		width: 100%
		border: 1px solid $form_border
		font-style: normal
		font-weight: normal
		font-size: 17px
		padding: 24px
		background-color: $form_bg
		&::placeholder
			color: $line_2

	&__input
		width: 100%
		height: 65px
		max-width: 370px

		border: 1px solid $form_border
		margin-bottom: 20px
		font-style: normal
		font-weight: normal
		font-size: 17px
		padding: 0 20px 0 60px
		background-color: $form_bg
		&::placeholder
			color: $line_2

	&__label
		position: relative
		display: flex
		width: 100%
		svg
			position: absolute
			height: 22px
			width: 22px
			top: 20px
			left: 24px

	&__consent
		font-style: normal
		font-weight: normal
		font-size: 14px
		line-height: 17px
		text-align: center
		max-width: 310px
		padding: 20px 0 0 0
		color: black

		a
			color: black
			text-decoration: underline

	&__forgot
		font-style: normal
		font-weight: normal
		font-size: 16px
		line-height: 19px
		text-decoration-line: underline
		color: #666666
		text-align: right
		display: block
		width: 100%
		margin-bottom: 35px

	&__question
		font-style: normal
		font-weight: normal
		font-size: 18px
		line-height: 22px
		color: #000000
		margin-top: 40px

		a
			color: $green
			text-decoration: underline

	&__subscribe
		display: flex

	&__radio:checked
		display: none

	&__caption

		&:not(:last-of-type)
			margin-right: 30px

	&__radio
		display: none

	&__radio:checked+label
		display: flex
		flex-direction: row-reverse
		align-items: center
		cursor: pointer
		height: 30px
		height: 24px
		font-size: 16px
		font-weight: 500
		justify-content: flex-end

	&__radio:checked+label svg
		margin-right: 15px

		+mq($max-width: 1023px)
			flex: 0 0 23px

		rect:first-child
			stroke: $green

		rect:last-child
			fill: $green

	&__radio+label
		display: flex
		flex-direction: row-reverse
		align-items: center
		cursor: pointer
		height: 30px
		height: 24px
		font-size: 16px
		color: black
		font-weight: 500
		justify-content: flex-end

	&__radio+label svg
		margin-right: 15px
		+mq($max-width: 1023px)
			flex: 0 0 23px

		rect:first-child
			stroke: #CFCFCF

		rect:last-child
			fill: transparent

	&__consent
		font-style: normal
		font-weight: normal
		font-size: 14px
		line-height: 17px
		text-align: center
		color: #000000
		text-align: center
		// display: flex
		// align-items: center
		text-align: center
