// main page elements
body
	font-size: 14px
	color: $dark
	font-family: 'Gilroy', sans-serif
	font-weight: 400
	background: white
	overflow-x: hidden
	// +scrollbar(10px, auto, $yellow, $gray2, $dark, null)

*
	font-family: 'Gilroy', sans-serif
	webkit-text-size-adjust: 100%

.page-container
	max-width: 1920px
	width: 100%
	margin: 0 auto
	overflow: hidden

.container
	max-width: 1170px
	width: 100%
	padding: 0
	margin: 0 auto
	+mq($max-width: 1200px)
		padding: 0 15px
		max-width: 100%
	+mq($max-width: 575px)
		padding: 0 10px

.no-page
	margin: 150px 0
	.action
		max-width: 350px

.block-title
	font-family: 'Mandy', serif
	font-size: 35px
	color: $pink
	margin: 0 0 36px 0
	+mq($max-width: 1200px)
		margin: 0 0 20px 0
	+mq($max-width: 575px)
		font-size: 24px

.arrow
	position: absolute
	top: 50%
	z-index: 3
	cursor: pointer
	background: transparent
	+mq($max-width: 1200px)
		top: -45px
	+mq($max-width: 700px)
		top: -35px
	&:hover
		svg
			path
				fill: $green
	svg
		display: block
		width: 50px
		height: auto
		+mq($max-width: 1200px)
			width: 30px
		path
			+trs
			fill: $pink
	&_prev
		transform: translate(-120%, -50%)
		left: 0
		+mq($max-width: 1200px)
			right: 15px
			left: auto
	&_next
		transform: translate(120%, -50%)
		right: 0
		+mq($max-width: 1200px)
			right: 0
			transform: translate(0, -50%)

.slick-track
	display: flex
	align-self: stretch
	height: 100%

.section
	&__inner
		padding: 0
		margin: 0 auto
		max-width: 1560px
		+mq($max-width: 1650px)
			padding: 0 15px
			max-width: 100%
		+mq($max-width: 1200px)
			padding: 0 15px
			max-width: 100%
		+mq($max-width: 1024px)
			grid-template-columns: 1fr
		+mq($max-width: 575px)
			padding: 0 10px
		&_dual
			display: grid
			grid-template-columns: 270px 1fr
			grid-gap: 65px
			padding-bottom: 100px
			+mq($max-width: 1023px)
				grid-template-columns: 1fr
				position: relative
				padding-bottom: 30px

		&_half
			display: grid
			grid-template-columns: 1fr 1fr
			grid-gap: 30px
			padding-bottom: 100px
			+mq($max-width: 1650px)
				padding-bottom: 100px
			+mq($max-width: 1200px)
				padding-bottom: 100px
		
			+mq($max-width: 1024px)
				grid-template-columns: 1fr
			+mq($max-width: 575px)
				
				padding-bottom: 50px

	&__box
		&_goods
			display: grid
			grid-template-columns: repeat(auto-fit, minmax(280px, 1fr))
			grid-gap: 80px 0

		&_text
			padding: 50px 0

			+mq($max-width: 575px)
				padding: 0
			p
				font-style: normal
				font-weight: normal
				font-size: 16px
				line-height: 215.5%

				color: #000000

	&__block
		height: 500px
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center

		+mq($max-width: 575px)
		height: unset
		padding: 30px 15px

		.title
			flex: unset

	&__sidebar

		+mq($max-width: 1023px)
			width: 260px

			padding-right: 40px
			position: absolute
			z-index: 100
			height: 100%

			left: - 220px
