$img: '../img/'

// COLORS
$dark: #3D3D3D
$dark_action: #333333

$green: #02A950
$pink: #E62F68

$red: #F35959
$gray_dark: #6A6A6A
$gray: #B4B4B4
$gray2: #D7D7D7
$gray_light: #EFF3F9
$gray_light2: #D6D6D6
$line: #EDEDED;

$line_2: #ABABAB;
$line_3: #CFCFCF;
$price_old: #767676

$gold: #FFA800;

$articles: #EFF3F9;
$articles_text: #C4CCD0;

$pagination: #9F9F9F;
// GRADIENTS
$slide-gradient: radial-gradient(85.67% 465.8% at 54.58% 41.15%, rgba(231, 233, 234, 0) 0%, #EDF0F1 100%)

$black_2: #4B4B4B;
// SHADOWS

$form: #4E4E4E;
$form_border: #EBEBEB;
$form_bg: #EFF3F9;
