mixin about-us()
    .about-us
        .about-us__box.about-us__box_left
            img.about-us__background.lazy(data-src=img+"contact_footprint.png" alt="")
            .about-us__video.lazy(data-src="https://img.youtube.com/vi/kdhCfhxZhrk/maxresdefault.jpg ")
                a(data-fancybox href="https://www.youtube.com/watch?v=kdhCfhxZhrk") 
                    .about-us__play 
                        img.lazy(data-src=img+"play_button.png")
        .about-us__box
            img.about-us__background.lazy(data-src=img+"about/about_bg.png" alt="")
            .about-us__content 
                .about-us__title Товарищи!
                .about-us__text 
                    p укрепление и развитие структуры играет важную роль в формировании новых предложений. Задача организации, в особенности же новая модель организационной деятельности представляет собой интересный эксперимент проверки форм развития.                 p 

                    p укрепление и развитие структуры играет важную роль в формировании новых предложений. Задача организации, в особенности же новая модель организационной деятельности представляет собой интересный эксперимент проверки форм развития.

                    