mixin banner(dog,cat,mouse)
	if dog
		.banner
			.banner__left
				img(src=img+"first/slide_dog.png", alt="")
			.banner
				.banner__right
					.banner__title SALE!
					.banner__subtitle СКИДКА 10%
					.banner__content Возьмите большую упаковку корма для стерилизованных любимцев
					a(href="/").button.button_green Подробнее
	else if cat
		.banner
			.banner__left
				img(src=img+"first/slide_cat.png", alt="")
			.banner
				.banner__right
					.banner__title SALE!
					.banner__subtitle СКИДКА 10%
					.banner__content Возьмите большую упаковку корма для стерилизованных любимцев
					a(href="/").button.button_green Подробнее
	else
		.banner
			.banner__left.banner__left_content
				img(src=img+"first/slide_mouse.png", alt="")
				.banner__heading Скидка 10%
				.banner__text При покупке корма пурина план для собак скидка на груминг 10%
				a(href="/").button.button_red Записаться
			.banner
				.banner__right
					.banner__title SALE!
					.banner__subtitle СКИДКА 10%
					.banner__content Возьмите большую упаковку корма для стерилизованных любимцев
					a(href="/").button.button_green Подробнее