mixin cabinet()
	.cabinet
		.cabinet__box
			.cabinet__title Учётная запись
			a(href="/").cabinet__link Изменить контактную информацию
			a(href="/").cabinet__link Изменить пароль
			a(href="/").cabinet__link Изменить мои адреса
			a(href="/").cabinet__link Изменить закладки (Избранное)
		.cabinet__box
			.cabinet__title Мои заказы
			a(href="/").cabinet__link История заказов
			a(href="/").cabinet__link Запросы на возврат
			a(href="/").cabinet__link История фин.операций

			