mixin contact()
    .contact
        .contact__map
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A8dc4fda841db4cb9c290973d53fdb96a4808a96bde900211413f5d8791a2bd64&amp;width=auto&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script> 
        .contact__content
            +title('Наши адреса','','h1','')
            .contact__title Ждем Вас ежедневно с 10.00 - 20.00 по адресам
            .contact__box
                .contact__item
                    .contact__address ул. Куйбышева, 71 (пл. Революции)
                        <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                                <path d="M20.8338 4.45237C19.2559 1.72928 16.4531 0.0656348 13.3364 0.00205664C13.2034 -0.000685547 13.0695 -0.000685547 12.9364 0.00205664C9.81974 0.0656348 7.01702 1.72928 5.43904 4.45237C3.82613 7.2358 3.782 10.5792 5.32097 13.3961L11.7683 25.197C11.7712 25.2023 11.7741 25.2075 11.7771 25.2127C12.0608 25.7057 12.5689 26 13.1365 26C13.704 26 14.2122 25.7056 14.4958 25.2127C14.4988 25.2075 14.5017 25.2023 14.5046 25.197L20.9519 13.3961C22.4908 10.5792 22.4467 7.2358 20.8338 4.45237ZM13.1364 11.7813C11.1203 11.7813 9.48016 10.1411 9.48016 8.12503C9.48016 6.10896 11.1203 4.46878 13.1364 4.46878C15.1525 4.46878 16.7927 6.10896 16.7927 8.12503C16.7927 10.1411 15.1525 11.7813 13.1364 11.7813Z" fill="#02A950"/>
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <rect width="26" height="26" fill="white" transform="translate(0.136719)"/>
                                </clipPath>
                            </defs>
                        </svg>
                    a(href="tel:333-60-70").contact__phone 333-60-70
                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                                <path d="M18.6192 13.9441L15.9677 11.2926C15.0207 10.3456 13.4109 10.7244 13.0321 11.9555C12.748 12.8078 11.801 13.2812 10.9487 13.0918C9.05481 12.6183 6.498 10.1562 6.02451 8.16759C5.74042 7.31528 6.3086 6.36831 7.16087 6.08426C8.39193 5.70547 8.77072 4.09563 7.82375 3.14866L5.17224 0.497158C4.41467 -0.165719 3.27831 -0.165719 2.61543 0.497158L0.816198 2.29639C-0.983039 4.19033 1.00559 9.20925 5.45634 13.66C9.90708 18.1107 14.926 20.1941 16.8199 18.3001L18.6192 16.5009C19.2821 15.7433 19.2821 14.607 18.6192 13.9441Z" fill="#02A950"/>
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <rect width="19" height="19" fill="white" transform="translate(0.136719)"/>
                                </clipPath>
                            </defs>
                        </svg>
                    a(href="tel:8(987)431-91-51").contact__phone 8(987)431-91-51
                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                                <path d="M18.6192 13.9441L15.9677 11.2926C15.0207 10.3456 13.4109 10.7244 13.0321 11.9555C12.748 12.8078 11.801 13.2812 10.9487 13.0918C9.05481 12.6183 6.498 10.1562 6.02451 8.16759C5.74042 7.31528 6.3086 6.36831 7.16087 6.08426C8.39193 5.70547 8.77072 4.09563 7.82375 3.14866L5.17224 0.497158C4.41467 -0.165719 3.27831 -0.165719 2.61543 0.497158L0.816198 2.29639C-0.983039 4.19033 1.00559 9.20925 5.45634 13.66C9.90708 18.1107 14.926 20.1941 16.8199 18.3001L18.6192 16.5009C19.2821 15.7433 19.2821 14.607 18.6192 13.9441Z" fill="#02A950"/>
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <rect width="19" height="19" fill="white" transform="translate(0.136719)"/>
                                </clipPath>
                            </defs>
                        </svg>
                .contact__item
                    .contact__address ул. Зои Космодемьянской 21      
                        <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                                <path d="M20.8338 4.45237C19.2559 1.72928 16.4531 0.0656348 13.3364 0.00205664C13.2034 -0.000685547 13.0695 -0.000685547 12.9364 0.00205664C9.81974 0.0656348 7.01702 1.72928 5.43904 4.45237C3.82613 7.2358 3.782 10.5792 5.32097 13.3961L11.7683 25.197C11.7712 25.2023 11.7741 25.2075 11.7771 25.2127C12.0608 25.7057 12.5689 26 13.1365 26C13.704 26 14.2122 25.7056 14.4958 25.2127C14.4988 25.2075 14.5017 25.2023 14.5046 25.197L20.9519 13.3961C22.4908 10.5792 22.4467 7.2358 20.8338 4.45237ZM13.1364 11.7813C11.1203 11.7813 9.48016 10.1411 9.48016 8.12503C9.48016 6.10896 11.1203 4.46878 13.1364 4.46878C15.1525 4.46878 16.7927 6.10896 16.7927 8.12503C16.7927 10.1411 15.1525 11.7813 13.1364 11.7813Z" fill="#02A950"/>
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <rect width="26" height="26" fill="white" transform="translate(0.136719)"/>
                                </clipPath>
                            </defs>
                        </svg> 
                    a(href="tel:922-56-12").contact__phone 922-56-12
                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                                <path d="M18.6192 13.9441L15.9677 11.2926C15.0207 10.3456 13.4109 10.7244 13.0321 11.9555C12.748 12.8078 11.801 13.2812 10.9487 13.0918C9.05481 12.6183 6.498 10.1562 6.02451 8.16759C5.74042 7.31528 6.3086 6.36831 7.16087 6.08426C8.39193 5.70547 8.77072 4.09563 7.82375 3.14866L5.17224 0.497158C4.41467 -0.165719 3.27831 -0.165719 2.61543 0.497158L0.816198 2.29639C-0.983039 4.19033 1.00559 9.20925 5.45634 13.66C9.90708 18.1107 14.926 20.1941 16.8199 18.3001L18.6192 16.5009C19.2821 15.7433 19.2821 14.607 18.6192 13.9441Z" fill="#02A950"/>
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <rect width="19" height="19" fill="white" transform="translate(0.136719)"/>
                                </clipPath>
                            </defs>
                        </svg>
                    a(href="tel:8(917)112-56-12").contact__phone 8(917)112-56-12
                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                                <path d="M18.6192 13.9441L15.9677 11.2926C15.0207 10.3456 13.4109 10.7244 13.0321 11.9555C12.748 12.8078 11.801 13.2812 10.9487 13.0918C9.05481 12.6183 6.498 10.1562 6.02451 8.16759C5.74042 7.31528 6.3086 6.36831 7.16087 6.08426C8.39193 5.70547 8.77072 4.09563 7.82375 3.14866L5.17224 0.497158C4.41467 -0.165719 3.27831 -0.165719 2.61543 0.497158L0.816198 2.29639C-0.983039 4.19033 1.00559 9.20925 5.45634 13.66C9.90708 18.1107 14.926 20.1941 16.8199 18.3001L18.6192 16.5009C19.2821 15.7433 19.2821 14.607 18.6192 13.9441Z" fill="#02A950"/>
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <rect width="19" height="19" fill="white" transform="translate(0.136719)"/>
                                </clipPath>
                            </defs>
                        </svg>
                .contact__item
                    .contact__address ул. Победы, 10 (м. Победы)
                        <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                                <path d="M20.8338 4.45237C19.2559 1.72928 16.4531 0.0656348 13.3364 0.00205664C13.2034 -0.000685547 13.0695 -0.000685547 12.9364 0.00205664C9.81974 0.0656348 7.01702 1.72928 5.43904 4.45237C3.82613 7.2358 3.782 10.5792 5.32097 13.3961L11.7683 25.197C11.7712 25.2023 11.7741 25.2075 11.7771 25.2127C12.0608 25.7057 12.5689 26 13.1365 26C13.704 26 14.2122 25.7056 14.4958 25.2127C14.4988 25.2075 14.5017 25.2023 14.5046 25.197L20.9519 13.3961C22.4908 10.5792 22.4467 7.2358 20.8338 4.45237ZM13.1364 11.7813C11.1203 11.7813 9.48016 10.1411 9.48016 8.12503C9.48016 6.10896 11.1203 4.46878 13.1364 4.46878C15.1525 4.46878 16.7927 6.10896 16.7927 8.12503C16.7927 10.1411 15.1525 11.7813 13.1364 11.7813Z" fill="#02A950"/>
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <rect width="26" height="26" fill="white" transform="translate(0.136719)"/>
                                </clipPath>
                            </defs>
                        </svg>
                    a(href="tel:8(937)206-19-19").contact__phone 8(937)206-19-19
                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                                <path d="M18.6192 13.9441L15.9677 11.2926C15.0207 10.3456 13.4109 10.7244 13.0321 11.9555C12.748 12.8078 11.801 13.2812 10.9487 13.0918C9.05481 12.6183 6.498 10.1562 6.02451 8.16759C5.74042 7.31528 6.3086 6.36831 7.16087 6.08426C8.39193 5.70547 8.77072 4.09563 7.82375 3.14866L5.17224 0.497158C4.41467 -0.165719 3.27831 -0.165719 2.61543 0.497158L0.816198 2.29639C-0.983039 4.19033 1.00559 9.20925 5.45634 13.66C9.90708 18.1107 14.926 20.1941 16.8199 18.3001L18.6192 16.5009C19.2821 15.7433 19.2821 14.607 18.6192 13.9441Z" fill="#02A950"/>
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <rect width="19" height="19" fill="white" transform="translate(0.136719)"/>
                                </clipPath>
                            </defs>
                        </svg>
                .contact__item
                    .contact__address ул. Солнечная, 36а
                        <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                                <path d="M20.8338 4.45237C19.2559 1.72928 16.4531 0.0656348 13.3364 0.00205664C13.2034 -0.000685547 13.0695 -0.000685547 12.9364 0.00205664C9.81974 0.0656348 7.01702 1.72928 5.43904 4.45237C3.82613 7.2358 3.782 10.5792 5.32097 13.3961L11.7683 25.197C11.7712 25.2023 11.7741 25.2075 11.7771 25.2127C12.0608 25.7057 12.5689 26 13.1365 26C13.704 26 14.2122 25.7056 14.4958 25.2127C14.4988 25.2075 14.5017 25.2023 14.5046 25.197L20.9519 13.3961C22.4908 10.5792 22.4467 7.2358 20.8338 4.45237ZM13.1364 11.7813C11.1203 11.7813 9.48016 10.1411 9.48016 8.12503C9.48016 6.10896 11.1203 4.46878 13.1364 4.46878C15.1525 4.46878 16.7927 6.10896 16.7927 8.12503C16.7927 10.1411 15.1525 11.7813 13.1364 11.7813Z" fill="#02A950"/>
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <rect width="26" height="26" fill="white" transform="translate(0.136719)"/>
                                </clipPath>
                            </defs>
                        </svg>
                    a(href="tel:+7(987)942-31-74").contact__phone +7(987)942-31-74
                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                                <path d="M18.6192 13.9441L15.9677 11.2926C15.0207 10.3456 13.4109 10.7244 13.0321 11.9555C12.748 12.8078 11.801 13.2812 10.9487 13.0918C9.05481 12.6183 6.498 10.1562 6.02451 8.16759C5.74042 7.31528 6.3086 6.36831 7.16087 6.08426C8.39193 5.70547 8.77072 4.09563 7.82375 3.14866L5.17224 0.497158C4.41467 -0.165719 3.27831 -0.165719 2.61543 0.497158L0.816198 2.29639C-0.983039 4.19033 1.00559 9.20925 5.45634 13.66C9.90708 18.1107 14.926 20.1941 16.8199 18.3001L18.6192 16.5009C19.2821 15.7433 19.2821 14.607 18.6192 13.9441Z" fill="#02A950"/>
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <rect width="19" height="19" fill="white" transform="translate(0.136719)"/>
                                </clipPath>
                            </defs>
                        </svg>
                .contact__item
                    .contact__address Ташкентская 90/Карла-Маркса 450
                        <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                                <path d="M20.8338 4.45237C19.2559 1.72928 16.4531 0.0656348 13.3364 0.00205664C13.2034 -0.000685547 13.0695 -0.000685547 12.9364 0.00205664C9.81974 0.0656348 7.01702 1.72928 5.43904 4.45237C3.82613 7.2358 3.782 10.5792 5.32097 13.3961L11.7683 25.197C11.7712 25.2023 11.7741 25.2075 11.7771 25.2127C12.0608 25.7057 12.5689 26 13.1365 26C13.704 26 14.2122 25.7056 14.4958 25.2127C14.4988 25.2075 14.5017 25.2023 14.5046 25.197L20.9519 13.3961C22.4908 10.5792 22.4467 7.2358 20.8338 4.45237ZM13.1364 11.7813C11.1203 11.7813 9.48016 10.1411 9.48016 8.12503C9.48016 6.10896 11.1203 4.46878 13.1364 4.46878C15.1525 4.46878 16.7927 6.10896 16.7927 8.12503C16.7927 10.1411 15.1525 11.7813 13.1364 11.7813Z" fill="#02A950"/>
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <rect width="26" height="26" fill="white" transform="translate(0.136719)"/>
                                </clipPath>
                            </defs>
                        </svg>
                    a(href="tel:8(987)152-09-44").contact__phone 8(987)152-09-44
                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                                <path d="M18.6192 13.9441L15.9677 11.2926C15.0207 10.3456 13.4109 10.7244 13.0321 11.9555C12.748 12.8078 11.801 13.2812 10.9487 13.0918C9.05481 12.6183 6.498 10.1562 6.02451 8.16759C5.74042 7.31528 6.3086 6.36831 7.16087 6.08426C8.39193 5.70547 8.77072 4.09563 7.82375 3.14866L5.17224 0.497158C4.41467 -0.165719 3.27831 -0.165719 2.61543 0.497158L0.816198 2.29639C-0.983039 4.19033 1.00559 9.20925 5.45634 13.66C9.90708 18.1107 14.926 20.1941 16.8199 18.3001L18.6192 16.5009C19.2821 15.7433 19.2821 14.607 18.6192 13.9441Z" fill="#02A950"/>
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <rect width="19" height="19" fill="white" transform="translate(0.136719)"/>
                                </clipPath>
                            </defs>
                        </svg>
                        