mixin discount(cat,empty)
    if cat
        section.discount-block.discount-block_white
            .container
                .discount-block-left
                    .text-container
                        p Parturient magna ridiculus? Mid Dignisim augue amet sed urna phasellus mana, elit, adipiscing quis! Augue amet Placerat? Tincidunt. Ut nec quis turpis. In dictumst, dapibus rhoncus pulvinar. Magna aliquam nisi mauris magna placerat dis, sed sit aenean turpis.
                        p Ut nec quis turpis. In dictumst, dapibus rhoncus pulvinar. Magna aliquam nisi mauris magna placerat dis, sed sit aenean turpis. Ut nec quis turpis. In dictumst, dapibus rhoncus pulvinar. Magna aliquam nisi mauris magna placerat dis, sed sit aenean turpis. Ut nec quis turpis. In dictumst, dapibus rhoncus pulvinar. Magna aliquam nisi mauris magna placerat dis, sed sit aenean turpis. Ut nec quis turpis. In dictumst, dapibus rhoncus pulvinar. Magna aliquam nisi mauris magna placerat dis, sed sit aenean turpis.
                        ul
                            li Cotton blend
                            li Straight fit
                            li Dry clean
                .discount-block-right.lazy(data-src=img+"discount/discount_cat.jpg")
                    .discount-block__subtitle ГрумМир!
                    .discount-block__title СКИДКА 10%
                    .discount-block__text При покупке корма пурина план для собак <br> скидка на груминг 10%
                    ul.action-item
                        li
                            a.pink-btn.popup-link(href="#") Записаться
    else if empty
        section.discount-block
            .container
                
                    .text-container.discount-block__text-container
                        p Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения модели развития. Идейные соображения высшего порядка, а также консультация с широким активом требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров способствует подготовки и реализации форм развития. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Равным образом реализация намеченных плановых заданий требуют определения и уточнения новых предложений.
                        p Таким образом начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки новых предложений. Равным образом сложившаяся структура организации позволяет оценить значение существенных финансовых и административных условий. Повседневная практика показывает, что начало повседневной работы по формированию позиции требуют определения и уточнения существенных финансовых и административных условий.
            
    else
        section.discount-block
            .container
                .discount-block-left
                    .text-container
                        p Parturient magna ridiculus? Mid Dignisim augue amet sed urna phasellus mana, elit, adipiscing quis! Augue amet Placerat? Tincidunt. Ut nec quis turpis. In dictumst, dapibus rhoncus pulvinar. Magna aliquam nisi mauris magna placerat dis, sed sit aenean turpis.
                        p Ut nec quis turpis. In dictumst, dapibus rhoncus pulvinar. Magna aliquam nisi mauris magna placerat dis, sed sit aenean turpis. Ut nec quis turpis. In dictumst, dapibus rhoncus pulvinar. Magna aliquam nisi mauris magna placerat dis, sed sit aenean turpis. Ut nec quis turpis. In dictumst, dapibus rhoncus pulvinar. Magna aliquam nisi mauris magna placerat dis, sed sit aenean turpis. Ut nec quis turpis. In dictumst, dapibus rhoncus pulvinar. Magna aliquam nisi mauris magna placerat dis, sed sit aenean turpis.
                        ul
                            li Cotton blend
                            li Straight fit
                            li Dry clean
                .discount-block-right.lazy(data-src=img+"discount/discount_dog.jpg")
                    .discount-block__subtitle ГрумМир!
                    .discount-block__title СКИДКА 10%
                    .discount-block__text При покупке корма пурина план для собак <br> скидка на груминг 10%
                    ul.action-item
                        li
                            a.pink-btn.popup-link(href="#") Записаться