mixin feedback(reviews,thanks,forgot,change)
    if reviews
        .feedback
            +title('Покупали данную продукцию?','','','','','form')
            .feedback__subtitle Оставьте своё мнение
            form(action="/").feedback__form
                label.feedback__label.feedback__label_name
                    svg.stars__icon
                            use(xlink:href="/img/sprite_form.svg#user")
                    input(type="text" placeholder="Как вас зовут?" name="feedback__name" autocomplete="off").feedback__input
                <textarea class="feedback__textarea" placeholder="Текст отзыва" name="feedback__textarea"></textarea>
                .feedback__questions Сколько звёзд вы бы порекомендовали?
                input(type="hidden" name="stars" value)
                +stars('','','','empty')
                +button('Отправить','button_submit','submit')
                .feedback__consent Я прочитал(а) и даю согласие на обработку своих персональных данных.
    else if thanks 
        .feedback
            +title('Сообщение отправлено','','','','','form')
    else if forgot 
        .feedback
            +title('Забыли пароль?','title_center','h1','','','')
            .feedback__subtitle Введите адрес электронной почты Вашей учетной записи. Нажмите кнопку <a href="">«Восстановить»</a>, чтобы получить пароль по электронной почте.

            form(action="/").feedback__form
                label.feedback__label
                    svg.stars__icon
                            use(xlink:href="/img/sprite_form.svg#email")
                    input(type="text" placeholder="Ваш E-mail" name="feedback__email" autocomplete="off").feedback__input
                
                +button('Восстановить','button_submit','submit')


    else if change 
        .feedback
            +title('Изменение контактной информации','title_center','h1','','','')
            
            form(action="/").feedback__form
                label.feedback__label
                    svg.stars__icon
                            use(xlink:href="/img/sprite_form.svg#email")
                    input(type="text" placeholder="Ваш E-mail" name="feedback__email" autocomplete="off").feedback__input
                label.feedback__label
                    svg.stars__icon
                            use(xlink:href="/img/sprite_form.svg#user")
                    input(type="text" placeholder="Ваш E-mail" name="feedback__name" autocomplete="off").feedback__input
                label.feedback__label
                    svg.stars__icon
                            use(xlink:href="/img/sprite_form.svg#tel")
                    input(type="text" placeholder="Ваш E-mail" name="feedback__phone" autocomplete="off").feedback__input
                
                +button('Восстановить','button_submit','submit')
                