mixin footprint(dog,cat,mouse)

	if cat

		.footprint__wrapper.footprint__wrapper_left
			
			.footprint__container.footprint__container_1
				.footprint
					svg
						use(xlink:href='#footprint_cat')
				.footprint
					svg
						use(xlink:href='#footprint_cat')
				.footprint
					svg
						use(xlink:href='#footprint_cat')
				.footprint
					svg
						use(xlink:href='#footprint_cat')
				.footprint
					svg
						use(xlink:href='#footprint_cat')
				.footprint
					svg
						use(xlink:href='#footprint_cat')
				.footprint
					svg
						use(xlink:href='#footprint_cat')

		.footprint__wrapper.footprint__wrapper_right

			.footprint__container.footprint__container_2
				.footprint
					svg
						use(xlink:href='#footprint_cat')
				.footprint
					svg
						use(xlink:href='#footprint_cat')
				.footprint
					svg
						use(xlink:href='#footprint_cat')
				.footprint
					svg
						use(xlink:href='#footprint_cat')
				.footprint
					svg
						use(xlink:href='#footprint_cat')
				.footprint
					svg
						use(xlink:href='#footprint_cat')
				.footprint
					svg
						use(xlink:href='#footprint_cat')
				.footprint
					svg
						use(xlink:href='#footprint_cat')
				.footprint
					svg
						use(xlink:href='#footprint_cat')
	else if dog

		.footprint__wrapper.footprint__wrapper_left
			
			.footprint__container.footprint__container_3
				.footprint
					svg
						use(xlink:href='#footprint_dog')
				.footprint
					svg
						use(xlink:href='#footprint_dog')
				.footprint
					svg
						use(xlink:href='#footprint_dog')
				.footprint
					svg
						use(xlink:href='#footprint_dog')
				.footprint
					svg
						use(xlink:href='#footprint_dog')
				

		.footprint__wrapper.footprint__wrapper_right

			.footprint__container.footprint__container_4
				.footprint
					svg
						use(xlink:href='#footprint_dog')
				.footprint
					svg
						use(xlink:href='#footprint_dog')
				.footprint
					svg
						use(xlink:href='#footprint_dog')
				.footprint
					svg
						use(xlink:href='#footprint_dog')
	else if mouse

		.footprint__wrapper.footprint__wrapper_left
			
			.footprint__container.footprint__container_5
				.footprint
					svg
						use(xlink:href='#footprint_mouse')
				.footprint
					svg
						use(xlink:href='#footprint_mouse')
				.footprint
					svg
						use(xlink:href='#footprint_mouse')
				.footprint
					svg
						use(xlink:href='#footprint_mouse')
				.footprint
					svg
						use(xlink:href='#footprint_mouse')
				.footprint
					svg
						use(xlink:href='#footprint_mouse')
				.footprint
					svg
						use(xlink:href='#footprint_mouse')

		.footprint__wrapper.footprint__wrapper_right

			.footprint__container.footprint__container_6
				.footprint
					svg
						use(xlink:href='#footprint_mouse')
				.footprint
					svg
						use(xlink:href='#footprint_mouse')
				.footprint
					svg
						use(xlink:href='#footprint_mouse')
				.footprint
					svg
						use(xlink:href='#footprint_mouse')
				.footprint
					svg
						use(xlink:href='#footprint_mouse')
				.footprint
					svg
						use(xlink:href='#footprint_mouse')
				.footprint
					svg
						use(xlink:href='#footprint_mouse')
				.footprint
					svg
						use(xlink:href='#footprint_mouse')
				.footprint
					svg
						use(xlink:href='#footprint_mouse')
				.footprint
					svg
						use(xlink:href='#footprint_mouse')
				.footprint
					svg
						use(xlink:href='#footprint_mouse')











	<svg width="0" height="0" class="hidden">
		<symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 62 60" id="footprint_cat">
			<g clip-path="url(#clip0)" fill="#F1B2BA">
				<path d="M34.719 17.232c2.052-2.543 3.94-5.817 2.915-9.095.071-.175.116-.413.038-.598a1.928 1.928 0 00-1.27-1.28c-.027-.063-.053-.124-.14-.16-3.17-1.641-5.992-.227-7.825 2.66-1.701 2.685-3.62 6.918-1.52 9.813 2.188 2.93 5.98.887 7.802-1.34zm13.609-1.544c-.088-.036-.185.079-.309.13.285-.702.455-1.502.244-1.485-4.389-.397-6.548 2.41-7.638 6.365-.858 3.128-.61 6.808 3.438 6.912 5.78.245 11.913-12.25 4.265-11.922zm4.436 24.902c.887-1.685 1.607-3.592.7-5.39-.454-.9-1.245-1.22-2.142-1.276.02-.3.002-.51-.147-.52-2.593-.794-6.127-1.407-8.222.863-1.644 1.788-2.833 3.965-3.696 6.223-1.441 3.813-.404 8.322 4.519 7.401 3.707-.697 7.285-4.105 8.988-7.3zM19.722 22.202c1.083-2.424.886-7.871-2.121-8.27.213-.528.241-.977.004-1.022-4.553-1.127-8.255 2.333-9.54 6.516-1.007 3.119-.593 9.42 3.938 9.466 3.67-.099 6.386-3.65 7.719-6.69zm16.805 25.412c1.344-3.698 1.492-7.473 1.227-11.363-.273-4.251-1.641-7.31-4.199-10.084.346-.729.455-1.502.28-1.574-.687-.073-1.46-.182-2.146-.255-.114-.097-.255-.256-.43-.327-.114-.098-.361.007-.556.235-3.491-.34-6.888-.284-10.142 1.312-3.156 1.483-6.02 4.515-8.003 7.393-1.62 2.36-3.021 5.065-2.814 7.96.29 4.463 6.308 6.644 9.52 8.558 3.704 2.215 7.226 5.89 11.894 4.713 2.66-.763 4.523-4.099 5.369-6.568z"></path>
			</g>
			<defs>
				<clipPath id="clip0">
					<path fill="#fff" transform="rotate(67.042 22.151 33.44)" d="M0 0h44.697v48.114H0z"></path>
				</clipPath>
			</defs>
		</symbol>
	</svg>
	
	<svg width="0" height="0" class="hidden">
		<symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 95 99" id="footprint_dog">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M66.783 21.492c-.796.724-.935.352-1.182-.308-.148-.397-.335-.897-.726-1.326-.42-.463-.998-.682-1.455-.856-.677-.257-1.087-.413-.327-1.104 1.273-1.158 5.52-2.27 6.561-1.123.734.807-1.597 3.56-2.87 4.718zm-20.827 15.5c4.163 3.2 8.608 1.33 12.227-3.378 3.62-4.708 6.866-9.267 2.703-12.466-4.162-3.2-10.499-2.195-14.117 2.513-3.62 4.709-4.975 10.131-.813 13.33zm-8.158 7.29c-3.62 4.71-9.547 5.438-13.71 2.239-4.162-3.2-4.318-9.98-.699-14.69 3.62-4.707 8.672-7.878 12.835-4.678 4.162 3.199 5.193 12.422 1.574 17.13zm14.998 15.515c-4.356 3.722-4.764 9.47-1.474 13.322 3.29 3.851 9.832 3.664 14.189-.058 4.357-3.721 7.16-8.748 3.87-12.6-3.29-3.851-12.228-4.385-16.585-.664zm8.132-21.991c-3.619 4.708-4.28 9.485-.118 12.684 4.162 3.2 9.054.495 12.673-4.213 3.619-4.709 2.96-11.09-1.203-14.29-4.162-3.2-7.733 1.11-11.352 5.819zM39.043 25.639c.36.607.562.948 1.218.095 1.05-1.365 2.858-4.486 1.993-5.15-1.228-.944-5.211.899-6.26 2.263-.626.815-.194.896.517 1.03.48.09 1.088.204 1.583.585.46.354.733.813.949 1.177zm31.503 30.86c-.79.675-.45.853.152 1.17.362.19.818.429 1.181.855.392.458.532 1.038.643 1.497.164.678.264 1.09 1.018.446 1.262-1.078 2.84-5.008 1.87-6.145-.684-.8-3.602 1.099-4.864 2.177zm-23.247 3.027c.895-2.83-1.16-5.676-2.454-6.907l.003-.003a6.669 6.669 0 00-.063-.056l-.03-.025a4.683 4.683 0 00-.055-.05l-.038-.034-.003.004c-1.38-1.132-4.459-2.818-7.157-1.58-1.45.665-2.55 1.422-3.614 2.156-1.533 1.056-2.994 2.063-5.329 2.675-1.471.386-3.315.204-5.265.012-3.291-.324-6.885-.678-9.5 1.619-4.166 3.657-3.88 9.95-.308 13.32 1.78 1.679 3.35 2.477 4.997 3.314 1.455.74 2.97 1.51 4.743 2.943 1.641 1.581 2.593 2.99 3.506 4.341 1.035 1.532 2.02 2.992 3.907 4.55 3.785 3.126 10.066 2.632 13.18-1.953 1.955-2.88 1.16-6.402.43-9.628-.431-1.911-.84-3.719-.639-5.226.32-2.392 1.138-3.967 1.996-5.62.597-1.147 1.212-2.33 1.693-3.852zM71.032 27.44c-.702-.07-1.098-.108-.603-1.063.792-1.529 2.852-4.49 3.82-3.988 1.376.712 1.395 5.1.603 6.63-.472.912-.729.555-1.15-.032-.286-.397-.647-.9-1.202-1.187-.516-.267-1.047-.32-1.468-.36z" fill="#F1B2BA"></path>
		</symbol>
	</svg>

	<svg width="0" height="0" class="hidden">
		<symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63 65" id="footprint_mouse">
			<path d="M44.623 50.511c.98 5.865-3.889 8.244-8.733 9.054-4.845.81-9.027-.055-10.007-5.92-.981-5.864 4.384-15.445 6.378-15.778 2.791-.467 11.38 6.78 12.361 12.644z" fill="#F1B2BA"></path>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M34.103 15.496a9.26 9.26 0 00-.375-1.142c-.119-.76-.345-1.473-.538-2.081-.312-.985-.537-1.698-.085-1.906.452-.21.802.446 1.285 1.352.299.56.648 1.214 1.105 1.82.236.56.55 1.045.822 1.463.02.03.04.06.058.09 1.817.51 3.955 2.333 4.906 5.931 1.308 4.95-.423 9.12-2.727 9.81-2.304.692-4.231.558-5.539-4.391-1.123-4.251.122-9.4 1.088-10.946zm-11.789 1.43c.034.422.114.821.192 1.19 1.558.885 5.009 4.807 5.964 9.102 1.112 5-.524 6.065-2.869 6.59-2.344.523-5.775-2.297-6.887-7.298-.808-3.635.241-6.29 1.606-7.633l.01-.108c.049-.502.104-1.082.056-1.692.124-.758.133-1.507.14-2.146.011-1.035.02-1.784.513-1.822.494-.039.62.7.796 1.72.109.63.236 1.368.479 2.097zm-3.34 34.137c2.002-.668 3.336-1.805 1.914-6.528-1.221-4.058-4.59-7.582-6.032-8.322a9.873 9.873 0 01-.274-1.129c-.278-.682-.456-1.382-.607-1.98-.245-.967-.423-1.667-.85-1.596-.428.072-.368.791-.285 1.786.051.614.111 1.334.07 2.07.098.582.101 1.144.104 1.629l.001.105c-1.072 1.385-1.75 4.008-.717 7.44 1.422 4.724 4.674 7.192 6.676 6.525zm30.355-5.077c-2.11.02-3.741-.62-3.934-5.55-.166-4.234 1.874-8.663 2.996-9.832a9.895 9.895 0 00-.108-1.156c.04-.736-.02-1.455-.07-2.069-.083-.995-.143-1.715.285-1.787.427-.071.605.629.85 1.596.151.598.328 1.298.607 1.98.097.583.276 1.115.431 1.575l.034.1c1.464.96 2.959 3.22 3.099 6.802.192 4.93-2.08 8.32-4.19 8.341z" fill="#F1B2BA"></path>
		</symbol>
	</svg>