header.header#header
	.header-top
		.container
			nav.main-nav
				input#main-menu-state(type="checkbox")
				label.main-menu-btn(for="main-menu-state")
					span.main-menu-btn-icon
				ul#main-menu.sm.sm-clean
					li
						a(href="#") Каталог
						ul
							li
								a(href="#") Кошки
							li
								a(href="#") Собаки
								ul
									li
										a(href="#") Корма
									li
										a(href="#") Наполнители
									li
										a(href="#") Домики
									li
										a(href="#") Подстилки
									li
										a(href="#") Клетки и вольеры
									li
										a(href="#") Амуниция
									li
										a(href="#") Игрушки
									li
										a(href="#") Аксессуары
									li
										a(href="#") Здоровье
									li
										a(href="#") Уход
							li
								a(href="#") ГрумМир
							li
								a(href="#") Птицы
							li
								a(href="#") Грызуны
							li
								a(href="#") Рыбки
							li
								a(href="#") Рептилии
							li
								a(href="#") Акции
					li
						a(href="#") Наши адреса
					li
						a(href="#") О компании
					li
						a(href="#") Дисконтная система
					li
						a(href="#") Оплата и доставка
					li
						a(href="#") Груминг салоны
					li
						a(href="#") Наши партнеры
			form.search
				input.search__input(type="search", name="header-search" placeholder="Поиск")
				button.search__btn
					<svg viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="8.16279" cy="8.16279" r="6.91279" stroke-width="2.5"/>
						<path d="M12.6973 12.6977L19.4996 19.5" stroke-width="2.5"/>
					</svg>
	.header-bottom
		.container
			a.logo(href="index.html")
				img.logo__img(src=img+"logo.png", alt="")
			.links
				.links-block
					a.callback(href="#") Обратный звонок
					a.tel(href="tel:+8462216106") (846) <span> 221-61-06</span>
				.links-block
					a.choose-link(href="#")
						<svg viewBox="-50 -28 610 512" xmlns="http://www.w3.org/2000/svg"><path d="m471.382812 44.578125c-26.503906-28.746094-62.871093-44.578125-102.410156-44.578125-29.554687 0-56.621094 9.34375-80.449218 27.769531-12.023438 9.300781-22.917969 20.679688-32.523438 33.960938-9.601562-13.277344-20.5-24.660157-32.527344-33.960938-23.824218-18.425781-50.890625-27.769531-80.445312-27.769531-39.539063 0-75.910156 15.832031-102.414063 44.578125-26.1875 28.410156-40.613281 67.222656-40.613281 109.292969 0 43.300781 16.136719 82.9375 50.78125 124.742187 30.992188 37.394531 75.535156 75.355469 127.117188 119.3125 17.613281 15.011719 37.578124 32.027344 58.308593 50.152344 5.476563 4.796875 12.503907 7.4375 19.792969 7.4375 7.285156 0 14.316406-2.640625 19.785156-7.429687 20.730469-18.128907 40.707032-35.152344 58.328125-50.171876 51.574219-43.949218 96.117188-81.90625 127.109375-119.304687 34.644532-41.800781 50.777344-81.4375 50.777344-124.742187 0-42.066407-14.425781-80.878907-40.617188-109.289063zm0 0"/></svg>
					a.user-link(href="#")
						<svg width="19" height="24" viewBox="0 0 19 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="9" cy="6" r="4.75" stroke-width="2.5"/>
							<path d="M17.4044 22.125H1.34556C1.94682 18.2311 5.31277 15.25 9.375 15.25C13.4372 15.25 16.8032 18.2311 17.4044 22.125Z" stroke-width="2.5"/>
						</svg>
						span Регистрация
				a.basket-link(href="#")
					.basket-link-icon
						<svg viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0 2H4.42857L6.0102 5.62069M11.0714 17.2069H24.3571L30.5707 6.36938C30.7619 6.03605 30.5212 5.62069 30.137 5.62069H6.0102M11.0714 17.2069L6.0102 5.62069M11.0714 17.2069L8.47447 21.4807C8.06953 22.1471 8.54927 23 9.32907 23H19.9286" stroke-width="2.5"/>
							<circle cx="10" cy="30" r="3" />
						</svg>
						.count 1
					span 2500

