mixin header1()
    header.header#header
        .header-top
            .container
                nav.main-nav
                    input#main-menu-state(type="checkbox")
                    label.main-menu-btn(for="main-menu-state")
                        span.main-menu-btn-icon
                    ul#main-menu.sm.sm-clean
                        li
                            a(href="#") Каталог
                            ul
                                li
                                    a(href="/page_cat.html") Кошки
                                li
                                    a(href="/page_dogs.html") Собаки
                                    ul
                                        li
                                            a(href="#") Корма
                                        li
                                            a(href="#") Наполнители
                                        li
                                            a(href="#") Домики
                                        li
                                            a(href="#") Подстилки
                                        li
                                            a(href="#") Клетки и вольеры
                                        li
                                            a(href="#") Амуниция
                                        li
                                            a(href="#") Игрушки
                                        li
                                            a(href="#") Аксессуары
                                        li
                                            a(href="#") Здоровье
                                        li
                                            a(href="#") Уход
                                li
                                    a(href="#") ГрумМир
                                li
                                    a(href="#") Птицы
                                li
                                    a(href="/page_mouse.html") Грызуны
                                li
                                    a(href="#") Рыбки
                                li
                                    a(href="#") Рептилии
                                li
                                    a(href="#") Акции
                        li
                            a(href="#") Наши адреса
                        li
                            a(href="#") О компании
                        li
                            a(href="#") Дисконтная система
                        li
                            a(href="#") Оплата и доставка
                        li
                            a(href="#") Груминг салоны
                        li
                            a(href="#") Наши партнеры
                
                form.search
                    input.search__input(type="search", name="header-search" placeholder="Поиск")
                    button.search__btn
                        <svg viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="8.16279" cy="8.16279" r="6.91279" stroke-width="2.5"/>
                            <path d="M12.6973 12.6977L19.4996 19.5" stroke-width="2.5"/>
                        </svg>
        .header-bottom
            .container
                a.logo(href="index.html")
                    img.logo__img(src=img+"logo.png", alt="")
                .links
                    .links-block
                        a.callback(href="#") Обратный звонок
                        a.tel(href="tel:+8462216106") (846) <span> 221-61-06</span>
                    .links-block
                        a.choose-link(href="#")
                            <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11 0C11.5523 0 12 0.447715 12 1V3H18C18.3513 3 18.6768 3.1843 18.8575 3.4855L21.8575 8.4855C21.9507 8.64092 22 8.81876 22 9C22 11.2091 20.2091 13 18 13C15.7909 13 14 11.2091 14 9C14 8.81876 14.0493 8.64092 14.1425 8.4855L16.2338 5H12V18H18C18.5523 18 19 18.4477 19 19C19 19.5523 18.5523 20 18 20H4C3.44772 20 3 19.5523 3 19C3 18.4477 3.44772 18 4 18H10V5H5.76619L7.85749 8.4855C7.95074 8.64092 8 8.81876 8 9C8 11.2091 6.20913 13 4 13C1.79086 13 0 11.2091 0 9C0 8.81876 0.0492578 8.64092 0.142507 8.4855L3.14251 3.4855C3.32323 3.1843 3.64874 3 4 3H10V1C10 0.447715 10.4477 0 11 0ZM4 5.94365L5.23381 8H2.76619L4 5.94365ZM2.26757 10H5.73243C5.38662 10.5978 4.74028 11 4 11C3.25972 11 2.61337 10.5978 2.26757 10ZM18 5.94365L16.7662 8H19.2338L18 5.94365ZM19.7324 10H16.2676C16.6134 10.5978 17.2597 11 18 11C18.7403 11 19.3866 10.5978 19.7324 10Z" fill="#3D3D3D"/>
                            </svg>
                            +count('2')
                        a.choose-link(href="#")
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512" x="0" y="0" viewBox="0 0 477.534 477.534" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g>
                                <path d="M438.482,58.61c-24.7-26.549-59.311-41.655-95.573-41.711c-36.291,0.042-70.938,15.14-95.676,41.694l-8.431,8.909    l-8.431-8.909C181.284,5.762,98.662,2.728,45.832,51.815c-2.341,2.176-4.602,4.436-6.778,6.778    c-52.072,56.166-52.072,142.968,0,199.134l187.358,197.581c6.482,6.843,17.284,7.136,24.127,0.654    c0.224-0.212,0.442-0.43,0.654-0.654l187.29-197.581C490.551,201.567,490.551,114.77,438.482,58.61z M413.787,234.226h-0.017    L238.802,418.768L63.818,234.226c-39.78-42.916-39.78-109.233,0-152.149c36.125-39.154,97.152-41.609,136.306-5.484    c1.901,1.754,3.73,3.583,5.484,5.484l20.804,21.948c6.856,6.812,17.925,6.812,24.781,0l20.804-21.931    c36.125-39.154,97.152-41.609,136.306-5.484c1.901,1.754,3.73,3.583,5.484,5.484C453.913,125.078,454.207,191.516,413.787,234.226    z" fill="#3d3d3d" data-original="#000000" style="" class=""/>
                            </svg>
                            +count('4')
                        .user-link.user-link_auth(href="#")
                            <svg width="19" height="24" viewBox="0 0 19 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="9" cy="6" r="4.75" stroke-width="2.5"/>
                                <path d="M17.4044 22.125H1.34556C1.94682 18.2311 5.31277 15.25 9.375 15.25C13.4372 15.25 16.8032 18.2311 17.4044 22.125Z" stroke-width="2.5"/>
                            </svg>
                            span Личный кабинет
                            +lk_menu()
                    a.basket-link(href="#")
                        .basket-link-icon
                            <svg width="36" height="32" viewBox="0 0 36 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.976562 2.03121C0.976562 1.17152 1.67348 0.474609 2.53316 0.474609H5.25722C5.97149 0.474609 6.59411 0.960732 6.76734 1.65368L7.64003 5.14442H34.4435C34.9228 5.14442 35.3754 5.36525 35.6704 5.74307C35.9654 6.12088 36.0699 6.61353 35.9536 7.07855L32.0621 22.6446C31.8889 23.3375 31.2663 23.8236 30.552 23.8236H10.3162C9.6019 23.8236 8.97929 23.3375 8.80605 22.6446L4.04186 3.58781H2.53316C1.67348 3.58781 0.976562 2.8909 0.976562 2.03121ZM8.41833 8.25762L11.5315 20.7104H29.3366L32.4498 8.25762H8.41833Z" fill="#3D3D3D"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3162 23.8236C12.4654 23.8236 14.2077 25.5659 14.2077 27.7151C14.2077 29.8644 12.4654 31.6067 10.3162 31.6067C8.16696 31.6067 6.42467 29.8644 6.42467 27.7151C6.42467 25.5659 8.16696 23.8236 10.3162 23.8236ZM10.3162 26.9368C9.88633 26.9368 9.53787 27.2853 9.53787 27.7151C9.53787 28.145 9.88633 28.4934 10.3162 28.4934C10.746 28.4934 11.0945 28.145 11.0945 27.7151C11.0945 27.2853 10.746 26.9368 10.3162 26.9368Z" fill="#3D3D3D"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M30.552 23.8236C32.7012 23.8236 34.4435 25.5659 34.4435 27.7151C34.4435 29.8644 32.7012 31.6067 30.552 31.6067C28.4028 31.6067 26.6605 29.8644 26.6605 27.7151C26.6605 25.5659 28.4028 23.8236 30.552 23.8236ZM29.7737 27.7151C29.7737 27.2853 30.1222 26.9368 30.552 26.9368C30.9818 26.9368 31.3303 27.2853 31.3303 27.7151C31.3303 28.145 30.9818 28.4934 30.552 28.4934C30.1222 28.4934 29.7737 28.145 29.7737 27.7151Z" fill="#3D3D3D"/>
                            </svg>
                            +count('10')
                        span 25000

    +popup()
                        

