mixin lk_menu()
    .lk-menu
        a(href="/").lk-menu__item  Изменить контактную информацию
            <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="16.4895" cy="16.0569" r="15.4905" fill="white" stroke="#D9D9D9"/>
                <path d="M20.7678 8.99523C20.517 8.74443 20.1104 8.74443 19.8595 8.99523L9.86877 18.986C9.74832 19.1065 9.68066 19.2698 9.68066 19.4402L9.68075 22.1649C9.68076 22.5195 9.96828 22.8071 10.323 22.8071L13.0476 22.8071C13.218 22.8071 13.3813 22.7395 13.5018 22.619L23.4926 12.6282C23.613 12.5078 23.6807 12.3444 23.6807 12.1741C23.6807 12.0038 23.613 11.8404 23.4926 11.72L20.7678 8.99523Z" fill="#02A950"/>
            </svg>

        a(href="/").lk-menu__item  История заказов
            <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="16.4895" cy="16.5276" r="15.4905" fill="white" stroke="#D9D9D9"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.6807 9.99849C10.6807 9.19517 11.2776 8.54395 12.014 8.54395H21.3473C22.0837 8.54395 22.6807 9.19517 22.6807 9.99849V23.0894C22.6807 23.8927 22.0837 24.5439 21.3473 24.5439H12.014C11.2776 24.5439 10.6807 23.8927 10.6807 23.0894V9.99849ZM13.6807 13.6349C14.0489 13.6349 14.3473 13.3093 14.3473 12.9076C14.3473 12.5059 14.0489 12.1803 13.6807 12.1803C13.3125 12.1803 13.014 12.5059 13.014 12.9076C13.014 13.3093 13.3125 13.6349 13.6807 13.6349ZM15.014 12.9076C15.014 12.5059 15.3125 12.1803 15.6807 12.1803H19.6807C20.0489 12.1803 20.3473 12.5059 20.3473 12.9076C20.3473 13.3092 20.0489 13.6349 19.6807 13.6349H15.6807C15.3125 13.6349 15.014 13.3092 15.014 12.9076ZM15.6807 15.8167C15.3125 15.8167 15.014 16.1423 15.014 16.5439C15.014 16.9456 15.3125 17.2712 15.6807 17.2712H19.6807C20.0489 17.2712 20.3473 16.9456 20.3473 16.5439C20.3473 16.1423 20.0489 15.8167 19.6807 15.8167H15.6807ZM15.6807 19.453C15.3125 19.453 15.014 19.7786 15.014 20.1803C15.014 20.582 15.3125 20.9076 15.6807 20.9076H19.6807C20.0489 20.9076 20.3473 20.582 20.3473 20.1803C20.3473 19.7786 20.0489 19.453 19.6807 19.453H15.6807ZM13.6807 17.2712C14.0489 17.2712 14.3473 16.9456 14.3473 16.5439C14.3473 16.1423 14.0489 15.8167 13.6807 15.8167C13.3125 15.8167 13.014 16.1423 13.014 16.5439C13.014 16.9456 13.3125 17.2712 13.6807 17.2712ZM13.6807 20.9076C14.0489 20.9076 14.3473 20.582 14.3473 20.1803C14.3473 19.7786 14.0489 19.453 13.6807 19.453C13.3125 19.453 13.014 19.7786 13.014 20.1803C13.014 20.582 13.3125 20.9076 13.6807 20.9076Z" fill="#02A950"/>
            </svg>
        a(href="/").lk-menu__item  Закладки
            <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="16.4895" cy="16.5457" r="15.4905" fill="white" stroke="#D9D9D9"/>
                <path d="M9.68066 11.4271C9.68066 11.0958 9.96557 10.8271 10.317 10.8271H12.8625C13.2139 10.8271 13.4988 11.0958 13.4988 11.4271V13.8271C13.4988 14.1585 13.2139 14.4271 12.8625 14.4271H10.317C9.96557 14.4271 9.68066 14.1585 9.68066 13.8271V11.4271Z" fill="#02A950"/>
                <path d="M9.68066 15.6271C9.68066 15.2958 9.96557 15.0271 10.317 15.0271H12.8625C13.2139 15.0271 13.4988 15.2958 13.4988 15.6271V18.0271C13.4988 18.3585 13.2139 18.6271 12.8625 18.6271H10.317C9.96557 18.6271 9.68066 18.3585 9.68066 18.0271V15.6271Z" fill="#02A950"/>
                <path d="M9.68066 19.8271C9.68066 19.4958 9.96557 19.2271 10.317 19.2271H12.8625C13.2139 19.2271 13.4988 19.4958 13.4988 19.8271V22.2271C13.4988 22.5585 13.2139 22.8271 12.8625 22.8271H10.317C9.96557 22.8271 9.68066 22.5585 9.68066 22.2271V19.8271Z" fill="#02A950"/>
                <path d="M14.7716 12.6271C14.7716 12.2958 15.0565 12.0271 15.4079 12.0271H23.0443C23.3958 12.0271 23.6807 12.2958 23.6807 12.6271C23.6807 12.9585 23.3958 13.2271 23.0443 13.2271H15.4079C15.0565 13.2271 14.7716 12.9585 14.7716 12.6271Z" fill="#02A950"/>
                <path d="M15.4079 16.2271C15.0565 16.2271 14.7716 16.4958 14.7716 16.8271C14.7716 17.1585 15.0565 17.4271 15.4079 17.4271H23.0443C23.3958 17.4271 23.6807 17.1585 23.6807 16.8271C23.6807 16.4958 23.3958 16.2271 23.0443 16.2271H15.4079Z" fill="#02A950"/>
                <path d="M15.4079 20.4271C15.0565 20.4271 14.7716 20.6958 14.7716 21.0271C14.7716 21.3585 15.0565 21.6271 15.4079 21.6271H23.0443C23.3958 21.6271 23.6807 21.3585 23.6807 21.0271C23.6807 20.6958 23.3958 20.4271 23.0443 20.4271H15.4079Z" fill="#02A950"/>
            </svg>
        a(href="/").lk-menu__item  Сравнение
            <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="16.4895" cy="16.5457" r="15.4905" fill="white" stroke="#D9D9D9"/>
                <path d="M9.68066 11.4271C9.68066 11.0958 9.96557 10.8271 10.317 10.8271H12.8625C13.2139 10.8271 13.4988 11.0958 13.4988 11.4271V13.8271C13.4988 14.1585 13.2139 14.4271 12.8625 14.4271H10.317C9.96557 14.4271 9.68066 14.1585 9.68066 13.8271V11.4271Z" fill="#02A950"/>
                <path d="M9.68066 15.6271C9.68066 15.2958 9.96557 15.0271 10.317 15.0271H12.8625C13.2139 15.0271 13.4988 15.2958 13.4988 15.6271V18.0271C13.4988 18.3585 13.2139 18.6271 12.8625 18.6271H10.317C9.96557 18.6271 9.68066 18.3585 9.68066 18.0271V15.6271Z" fill="#02A950"/>
                <path d="M9.68066 19.8271C9.68066 19.4958 9.96557 19.2271 10.317 19.2271H12.8625C13.2139 19.2271 13.4988 19.4958 13.4988 19.8271V22.2271C13.4988 22.5585 13.2139 22.8271 12.8625 22.8271H10.317C9.96557 22.8271 9.68066 22.5585 9.68066 22.2271V19.8271Z" fill="#02A950"/>
                <path d="M14.7716 12.6271C14.7716 12.2958 15.0565 12.0271 15.4079 12.0271H23.0443C23.3958 12.0271 23.6807 12.2958 23.6807 12.6271C23.6807 12.9585 23.3958 13.2271 23.0443 13.2271H15.4079C15.0565 13.2271 14.7716 12.9585 14.7716 12.6271Z" fill="#02A950"/>
                <path d="M15.4079 16.2271C15.0565 16.2271 14.7716 16.4958 14.7716 16.8271C14.7716 17.1585 15.0565 17.4271 15.4079 17.4271H23.0443C23.3958 17.4271 23.6807 17.1585 23.6807 16.8271C23.6807 16.4958 23.3958 16.2271 23.0443 16.2271H15.4079Z" fill="#02A950"/>
                <path d="M15.4079 20.4271C15.0565 20.4271 14.7716 20.6958 14.7716 21.0271C14.7716 21.3585 15.0565 21.6271 15.4079 21.6271H23.0443C23.3958 21.6271 23.6807 21.3585 23.6807 21.0271C23.6807 20.6958 23.3958 20.4271 23.0443 20.4271H15.4079Z" fill="#02A950"/>
            </svg>
        a(href="/").lk-menu__item  Выход
            <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="16.1838" cy="16.0623" r="15.4905" fill="white" stroke="#D9D9D9"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.145 9.33665C17.145 9.11635 17.0489 8.90793 16.8837 8.76988C16.7184 8.63183 16.5018 8.57905 16.2947 8.62633L9.92474 10.0809C9.6037 10.1542 9.375 10.4497 9.375 10.7912V22.4276C9.375 22.7691 9.6037 23.0646 9.92474 23.1379L16.2947 24.5924C16.5018 24.6397 16.7184 24.5869 16.8837 24.4489C17.0489 24.3108 17.145 24.1024 17.145 23.8821V23.1548H22.675C23.0616 23.1548 23.375 22.8292 23.375 22.4275V10.7912C23.375 10.3895 23.0616 10.0639 22.675 10.0639H17.145V9.33665ZM17.145 11.5185V21.7003H21.975V11.5185H17.145ZM14.275 15.1548C14.6616 15.1548 14.975 15.4804 14.975 15.8821V17.3366C14.975 17.7383 14.6616 18.0639 14.275 18.0639C13.8884 18.0639 13.575 17.7383 13.575 17.3366V15.8821C13.575 15.4804 13.8884 15.1548 14.275 15.1548Z" fill="#02A950"/>
            </svg>