mixin partner()
    .partner__wrapper
        .partner__box
            .partner
                .partner__name Айсберг, клуб спортивного собаководства 
                .partner__content
                    .partner__row
                        .partner__option Район:
                        .partner__value Промышленный
                    .partner__row
                        .partner__option Адрес:
                        .partner__value ул. Стара-Загора, 159
                    .partner__row
                        .partner__option Телефон:
                        .partner__value 8-908-417-41-01
            .partner
                .partner__name Айсберг, клуб спортивного собаководства 
                .partner__content
                    .partner__row
                        .partner__option Район:
                        .partner__value Промышленный
                    .partner__row
                        .partner__option Адрес:
                        .partner__value ул. Стара-Загора, 159
                    .partner__row
                        .partner__option Телефон:
                        .partner__value 8-908-417-41-01
            .partner
                .partner__name Айсберг, клуб спортивного собаководства 
                .partner__content
                    .partner__row
                        .partner__option Район:
                        .partner__value Промышленный
                    .partner__row
                        .partner__option Адрес:
                        .partner__value ул. Стара-Загора, 159
                    .partner__row
                        .partner__option Телефон:
                        .partner__value 8-908-417-41-01
            .partner
                .partner__name Айсберг, клуб спортивного собаководства 
                .partner__content
                    .partner__row
                        .partner__option Район:
                        .partner__value Промышленный
                    .partner__row
                        .partner__option Адрес:
                        .partner__value ул. Стара-Загора, 159
                    .partner__row
                        .partner__option Телефон:
                        .partner__value 8-908-417-41-01
            .partner
                .partner__name Айсберг, клуб спортивного собаководства 
                .partner__content
                    .partner__row
                        .partner__option Район:
                        .partner__value Промышленный
                    .partner__row
                        .partner__option Адрес:
                        .partner__value ул. Стара-Загора, 159
                    .partner__row
                        .partner__option Телефон:
                        .partner__value 8-908-417-41-01
            .partner
                .partner__name Айсберг, клуб спортивного собаководства 
                .partner__content
                    .partner__row
                        .partner__option Район:
                        .partner__value Промышленный
                    .partner__row
                        .partner__option Адрес:
                        .partner__value ул. Стара-Загора, 159
                    .partner__row
                        .partner__option Телефон:
                        .partner__value 8-908-417-41-01
            .partner
                .partner__name Айсберг, клуб спортивного собаководства
                .partner__content
                    .partner__row
                        .partner__option Район:
                        .partner__value Промышленный
                    .partner__row
                        .partner__option Адрес:
                        .partner__value ул. Стара-Загора, 159
                    .partner__row
                        .partner__option Телефон:
                        .partner__value 8-908-417-41-01
            .partner
                .partner__name Союз Кинологов, Самарская областная общественная организация (РФЛС) 
                .partner__content
                    .partner__row
                        .partner__option Район:
                        .partner__value Промышленный
                    .partner__row
                        .partner__option Адрес:
                        .partner__value ул. Стара-Загора, 159
                    .partner__row
                        .partner__option Телефон:
                        .partner__value 8-908-417-41-01