mixin personal()
    .personal__wrapper
        .personal
            .personal__box

                .personal__table
                    .personal__heading Контактная информация
                    .personal__rows
                        .personal__row

                    
                            .personal__cell  Иванов 
                            .personal__cell  Иван 
                            .personal__cell  test123@mail.ru
                        


                    .personal__row
                        a(href="tel:+7 888 258 47 87").personal__cell +7 888 258 47 87
                    

                .personal__table
                    .personal__heading Адрес 
                        span *основной
                    .personal__rows
                        .personal__row
                    
                            .personal__cell  Самара 
                            

                        .personal__row
                            .personal__cell  ул. Березовская 89 
                            .personal__cell  Индекс: 352562

                    .personal__options 
                            
                            .personal__edit
                                a(href="") 
                                    <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="22.7971" cy="22.2297" r="21.2837" fill="white" stroke="#DCDCDC" stroke-width="1.38224"/>
                                    <path d="M28.0537 13.1911C27.7312 12.8686 27.2084 12.8686 26.886 13.1911L14.0407 26.0363C13.8858 26.1912 13.7988 26.4012 13.7988 26.6202L13.7989 30.1234C13.7989 30.5795 14.1686 30.9491 14.6246 30.9491L18.1278 30.9492C18.3468 30.9492 18.5568 30.8622 18.7117 30.7074L31.557 17.8621C31.7118 17.7072 31.7988 17.4972 31.7988 17.2782C31.7988 17.0592 31.7118 16.8492 31.557 16.6943L28.0537 13.1911Z" fill="#02A950"/>
                                    </svg>

                            .personal__delete
                                a(href="") 
                                    <svg width="34" height="33" viewBox="0 0 34 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="17" cy="16.5" r="15.8089" fill="white" stroke="#DCDCDC" stroke-width="1.38224"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.5022 8.40129C14.6379 8.15383 14.8976 8 15.1798 8H18.8457C19.1303 8 19.3918 8.15639 19.5264 8.40707L20.553 10.3182H24.7273C25.154 10.3182 25.5 10.6641 25.5 11.0909C25.5 11.5177 25.154 11.8636 24.7273 11.8636H23.5682V24.2273C23.5682 24.654 23.2222 25 22.7955 25H11.2045C10.7778 25 10.4318 24.654 10.4318 24.2273V11.8636H9.27273C8.84596 11.8636 8.5 11.5177 8.5 11.0909C8.5 10.6641 8.84596 10.3182 9.27273 10.3182H13.4515L14.5022 8.40129ZM16.2273 14.9545C16.2273 14.5278 15.8813 14.1818 15.4545 14.1818C15.0278 14.1818 14.6818 14.5278 14.6818 14.9545V19.9773C14.6818 20.404 15.0278 20.75 15.4545 20.75C15.8813 20.75 16.2273 20.404 16.2273 19.9773V14.9545ZM18.5455 14.1818C18.9722 14.1818 19.3182 14.5278 19.3182 14.9545V19.9773C19.3182 20.404 18.9722 20.75 18.5455 20.75C18.1187 20.75 17.7727 20.404 17.7727 19.9773V14.9545C17.7727 14.5278 18.1187 14.1818 18.5455 14.1818Z" fill="#F35959"/>
                                    </svg>


                .personal__table
                    .personal__heading Дополнительный адрес
                    .personal__rows
                        .personal__row
                    
                            .personal__cell  Самара 
                            

                        .personal__row
                            .personal__cell  ул. Островского 99 
                            .personal__cell  Индекс: 563353

                    .personal__options 
                            
                            .personal__edit
                                a(href="") 
                                    <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="22.7971" cy="22.2297" r="21.2837" fill="white" stroke="#DCDCDC" stroke-width="1.38224"/>
                                    <path d="M28.0537 13.1911C27.7312 12.8686 27.2084 12.8686 26.886 13.1911L14.0407 26.0363C13.8858 26.1912 13.7988 26.4012 13.7988 26.6202L13.7989 30.1234C13.7989 30.5795 14.1686 30.9491 14.6246 30.9491L18.1278 30.9492C18.3468 30.9492 18.5568 30.8622 18.7117 30.7074L31.557 17.8621C31.7118 17.7072 31.7988 17.4972 31.7988 17.2782C31.7988 17.0592 31.7118 16.8492 31.557 16.6943L28.0537 13.1911Z" fill="#02A950"/>
                                    </svg>

                            .personal__delete
                                a(href="") 
                                    <svg width="34" height="33" viewBox="0 0 34 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="17" cy="16.5" r="15.8089" fill="white" stroke="#DCDCDC" stroke-width="1.38224"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.5022 8.40129C14.6379 8.15383 14.8976 8 15.1798 8H18.8457C19.1303 8 19.3918 8.15639 19.5264 8.40707L20.553 10.3182H24.7273C25.154 10.3182 25.5 10.6641 25.5 11.0909C25.5 11.5177 25.154 11.8636 24.7273 11.8636H23.5682V24.2273C23.5682 24.654 23.2222 25 22.7955 25H11.2045C10.7778 25 10.4318 24.654 10.4318 24.2273V11.8636H9.27273C8.84596 11.8636 8.5 11.5177 8.5 11.0909C8.5 10.6641 8.84596 10.3182 9.27273 10.3182H13.4515L14.5022 8.40129ZM16.2273 14.9545C16.2273 14.5278 15.8813 14.1818 15.4545 14.1818C15.0278 14.1818 14.6818 14.5278 14.6818 14.9545V19.9773C14.6818 20.404 15.0278 20.75 15.4545 20.75C15.8813 20.75 16.2273 20.404 16.2273 19.9773V14.9545ZM18.5455 14.1818C18.9722 14.1818 19.3182 14.5278 19.3182 14.9545V19.9773C19.3182 20.404 18.9722 20.75 18.5455 20.75C18.1187 20.75 17.7727 20.404 17.7727 19.9773V14.9545C17.7727 14.5278 18.1187 14.1818 18.5455 14.1818Z" fill="#F35959"/>
                                    </svg>
                    


                    


                    

            .personal__box
                .personal__add 
                    a(href="") 
                        <svg width="44" height="45" viewBox="0 0 44 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="21.9748" cy="22.8391" r="21.2837" fill="white" stroke="#DCDCDC" stroke-width="1.38224"/>
                        <path d="M23.1464 22.0599H28.0519V25.0206H23.1464V29.9262H20.1856V25.0206H15.2801V22.0599H20.1856V17.1543H23.1464V22.0599Z" fill="#02A950"/>
                        </svg>
                    .personal__caption Добавить новый адрес
                .personal__edit
                    a(href="") 
                        <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="22.7971" cy="22.2297" r="21.2837" fill="white" stroke="#DCDCDC" stroke-width="1.38224"/>
                        <path d="M28.0537 13.1911C27.7312 12.8686 27.2084 12.8686 26.886 13.1911L14.0407 26.0363C13.8858 26.1912 13.7988 26.4012 13.7988 26.6202L13.7989 30.1234C13.7989 30.5795 14.1686 30.9491 14.6246 30.9491L18.1278 30.9492C18.3468 30.9492 18.5568 30.8622 18.7117 30.7074L31.557 17.8621C31.7118 17.7072 31.7988 17.4972 31.7988 17.2782C31.7988 17.0592 31.7118 16.8492 31.557 16.6943L28.0537 13.1911Z" fill="#02A950"/>
                        </svg>
                    .personal__caption Редактировать личную информацию