mixin review(goods)
    if goods
        .review__wrapper
            .review__heading 
                .review__title Отзывы
                a(href="javascript:;"  data-fancybox="" data-src="#popup_feedback").review__callback Написать отзыв
            .review__box
                .review
                    .review__publication Опубликовано: 15:45, 20 января 2021
                    .review__name Иван
                        +stars('one','','')
                    .review__content
                        .review__text 
                            p Повседневная практика показывает, что консультация с широким активом позволяет выполнять важные задания по разработке форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития. Товарищи! 
                            p Повседневная практика показывает, что консультация с широким активом позволяет выполнять важные задания по разработке форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития. Товарищи!
                .review
                    .review__publication Опубликовано: 15:45, 20 января 2021
                    .review__name Иван
                        +stars('','two','')
                    .review__content
                        .review__text 
                            p Повседневная практика показывает, что консультация с широким активом позволяет выполнять важные задания по разработке форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития. Товарищи! 
                            p Повседневная практика показывает, что консультация с широким активом позволяет выполнять важные задания по разработке форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития. Товарищи!
                .review
                    .review__publication Опубликовано: 15:45, 20 января 2021
                    .review__name Иван
                        +stars('','','three')
                    .review__content
                        .review__text 
                            p Повседневная практика показывает, что консультация с широким активом позволяет выполнять важные задания по разработке форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития. Товарищи! 
                            p Повседневная практика показывает, что консультация с широким активом позволяет выполнять важные задания по разработке форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития. Товарищи!
                
    else
        .review__wrapper
            .review__box
                .review
                    .review__publication Опубликовано: 15:45, 20 января 2021
                    .review__name Иван
                        +stars('one','','')
                    .review__content
                        .review__text 
                            p Повседневная практика показывает, что консультация с широким активом позволяет выполнять важные задания по разработке форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития. Товарищи! 
                            p Повседневная практика показывает, что консультация с широким активом позволяет выполнять важные задания по разработке форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития. Товарищи!
                .review
                    .review__publication Опубликовано: 15:45, 20 января 2021
                    .review__name Иван
                        +stars('','two','')
                    .review__content
                        .review__text 
                            p Повседневная практика показывает, что консультация с широким активом позволяет выполнять важные задания по разработке форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития. Товарищи! 
                            p Повседневная практика показывает, что консультация с широким активом позволяет выполнять важные задания по разработке форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития. Товарищи!
                .review
                    .review__publication Опубликовано: 15:45, 20 января 2021
                    .review__name Иван
                        +stars('','','three')
                    .review__content
                        .review__text 
                            p Повседневная практика показывает, что консультация с широким активом позволяет выполнять важные задания по разработке форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития. Товарищи! 
                            p Повседневная практика показывает, что консультация с широким активом позволяет выполнять важные задания по разработке форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития. Товарищи!
                
            
                .review
                    .review__publication Опубликовано: 15:45, 20 января 2021
                    .review__name Иван
                        +stars('one','','')
                    .review__content
                        .review__text 
                            p Повседневная практика показывает, что консультация с широким активом позволяет выполнять важные задания по разработке форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития. Товарищи! 
                            p Повседневная практика показывает, что консультация с широким активом позволяет выполнять важные задания по разработке форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития. Товарищи!
                .review
                    .review__publication Опубликовано: 15:45, 20 января 2021
                    .review__name Иван
                        +stars('','two','')
                    .review__content
                        .review__text 
                            p Повседневная практика показывает, что консультация с широким активом позволяет выполнять важные задания по разработке форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития. Товарищи! 
                            p Повседневная практика показывает, что консультация с широким активом позволяет выполнять важные задания по разработке форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития. Товарищи!
                .review
                    .review__publication Опубликовано: 15:45, 20 января 2021
                    .review__name Иван
                        +stars('','','three')
                    .review__content
                        .review__text 
                            p Повседневная практика показывает, что консультация с широким активом позволяет выполнять важные задания по разработке форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития. Товарищи! 
                            p Повседневная практика показывает, что консультация с широким активом позволяет выполнять важные задания по разработке форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития. Товарищи!
                
            
                .review
                    .review__publication Опубликовано: 15:45, 20 января 2021
                    .review__name Иван
                        +stars('one','','')
                    .review__content
                        .review__text 
                            p Повседневная практика показывает, что консультация с широким активом позволяет выполнять важные задания по разработке форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития. Товарищи! 
                            p Повседневная практика показывает, что консультация с широким активом позволяет выполнять важные задания по разработке форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития. Товарищи!
                .review
                    .review__publication Опубликовано: 15:45, 20 января 2021
                    .review__name Иван
                        +stars('','two','')
                    .review__content
                        .review__text 
                            p Повседневная практика показывает, что консультация с широким активом позволяет выполнять важные задания по разработке форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития. Товарищи! 
                            p Повседневная практика показывает, что консультация с широким активом позволяет выполнять важные задания по разработке форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития. Товарищи!
                .review
                    .review__publication Опубликовано: 15:45, 20 января 2021
                    .review__name Иван
                        +stars('','','three')
                    .review__content
                        .review__text 
                            p Повседневная практика показывает, что консультация с широким активом позволяет выполнять важные задания по разработке форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития. Товарищи! 
                            p Повседневная практика показывает, что консультация с широким активом позволяет выполнять важные задания по разработке форм развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития. Товарищи!
                
            