script(src="js/jquery/dist/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.10/jquery.lazy.min.js" type="text/javascript")
script(src="js/libs.js")
script(src="js/common.js")
