
include blocks/discount
include blocks/banner
include blocks/discount
include blocks/slider
include blocks/partners
include blocks/categories
include blocks/catalog
include blocks/footprint
include blocks/count
include blocks/breadcrumbs
include blocks/tabs
include blocks/title
include blocks/action
include blocks/pagination
include blocks/partner
include blocks/stars
include blocks/review
include blocks/button
include blocks/article
include blocks/article-single

include blocks/header1