- var img = '../img/';
include main.pug

doctype
html
	include blocks/head.pug
		title
	body
		+header1()
		//- include blocks/header.pug

		main.page-container
			+breadcrumbs('','Отзывы')
			+title('Отзывы наших клиентов','','h1','','inner')
			
			
			+review()



		include blocks/footer.pug
		include blocks/scripts.pug