- var img = '../img/';
include main.pug

doctype
html
	include blocks/head.pug
		title
	body
		+header1()
		

		main.page-container
			+breadcrumbs('Личный кабинет','Изменение пароля')
			section.section.section_banner
				+return()
				
				+feedback('','','','','pass')

		include blocks/footer.pug
		include blocks/scripts.pug