- var img = '../img/';
include main.pug

doctype
html
	include blocks/head.pug
		title
	body
		+header1()
		//- include blocks/header.pug

		main.page-container
			+breadcrumbs('','Статьи')
			+title('Это может быть полезно для вас','','h1','','inner')

			+tabs('','articles')
			+article()
			+pagination()
				
			
			



		include blocks/footer.pug
		include blocks/scripts.pug