- var img = '../img/';
include main.pug

doctype
html
	include blocks/head.pug
		title
	body
		include blocks/header.pug

		main.page-container

			section.section.section_banner
				
				+banner('dog','','')

			+categories()
			+catalog()

						 
			
			+slider('Вам может понравиться')
			+discount()

			+partners()

		include blocks/footer.pug
		include blocks/scripts.pug