- var img = '../img/';
include main.pug

doctype
html
	include blocks/head.pug
		title
	body
		+header1()
		//- include blocks/header.pug

		main.page-container
			+breadcrumbs('','Моя корзина')
			section.section.section_banner
				+return()
				+ordering()
				
				

		include blocks/footer.pug
		include blocks/scripts.pug