- var img = '../img/';
include main.pug

doctype
html
	include blocks/head.pug
		title
	body
		+header1()
		//- include blocks/header.pug

		main.page-container
			+breadcrumbs('','Акции и скидки')
			+title('Акции и скидки','','h1','','inner')
			+tabs('actions','')
			
			+action('preview')




		include blocks/footer.pug
		include blocks/scripts.pug