- var img = '../img/';
include main.pug

doctype
html
	include blocks/head.pug
		title
	body
		+header1()
		

		main.page-container
			+breadcrumbs('Личный кабинет','История финансовых операций')
			section.section.section_banner
				+return()
				+title('История финансовых операций','title_center','h1')
				+favorite('','','finance')
				
				

		include blocks/footer.pug
		include blocks/scripts.pug