- var img = '../img/';
include main.pug

doctype
html
	include blocks/head.pug
		title
	body
		+header1()
		//- include blocks/header.pug

		main.page-container
			+breadcrumbs('','Статьи')
			+title('Это может быть полезно для вас','','h1','','inner')

			.section
				.section__inner
					+feedback('','','','','','','','','','search')
					.section__box.section__box_text 
						p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique quibusdam maiores, dolore debitis modi voluptates consectetur, laudantium enim libero, iure minima aliquid quisquam molestias eum labore. Adipisci voluptatem ea consequuntur error temporibus iusto quibusdam mollitia enim. Deleniti natus adipisci perspiciatis sed, rerum aliquid temporibus, deserunt quam inventore amet, at mollitia.
						p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique quibusdam maiores, dolore debitis modi voluptates consectetur, laudantium enim libero, iure minima aliquid quisquam molestias eum labore. Adipisci voluptatem ea consequuntur error temporibus iusto quibusdam mollitia enim. Deleniti natus adipisci perspiciatis sed, rerum aliquid temporibus, deserunt quam inventore amet, at mollitia.
						p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique quibusdam maiores, dolore debitis modi voluptates consectetur, laudantium enim libero, iure minima aliquid quisquam molestias eum labore. Adipisci voluptatem ea consequuntur error temporibus iusto quibusdam mollitia enim. Deleniti natus adipisci perspiciatis sed, rerum aliquid temporibus, deserunt quam inventore amet, at mollitia.
						p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique quibusdam maiores, dolore debitis modi voluptates consectetur, laudantium enim libero, iure minima aliquid quisquam molestias eum labore. Adipisci voluptatem ea consequuntur error temporibus iusto quibusdam mollitia enim. Deleniti natus adipisci perspiciatis sed, rerum aliquid temporibus, deserunt quam inventore amet, at mollitia.
						a(href="/") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, libero!
						ul
							li lorem10
							li lorem10
							li lorem10
							li lorem10
							li lorem10
							li lorem10
							li lorem10
							li lorem10
							li lorem10
							li lorem10 
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta nesciunt officia, minus inventore totam sit numquam amet facere laborum deserunt, culpa neque ipsam aspernatur ab impedit. Unde molestiae in consequatur itaque illum dignissimos labore cupiditate provident perspiciatis repellendus nesciunt earum delectus quam ad est, harum omnis iusto tenetur expedita, ut architecto repellat ab at? Provident pariatur enim quas nostrum voluptas ad ipsum doloribus nesciunt commodi numquam suscipit perspiciatis possimus necessitatibus, dolor animi explicabo blanditiis quae. Aperiam quasi facilis, temporibus dolorem doloremque quia, officiis cum, dicta qui sit deserunt id quae fugit modi saepe dolorum atque? Minima, odit. Minus consectetur deserunt nam soluta numquam, sit quidem distinctio perferendis. Corporis quaerat saepe soluta dolore deserunt quibusdam nemo perspiciatis. A voluptatum enim ullam provident rerum similique, voluptatibus ipsum, voluptates, esse ex est? Numquam amet id nesciunt eius doloribus alias. Quasi magnam beatae, sed autem eligendi nemo tenetur veritatis accusantium quia ea, tempora enim, non odio omnis reiciendis accusamus? Pariatur iusto a veritatis qui consequatur itaque dicta fuga omnis illum provident amet expedita obcaecati dolore eos nisi nulla eum enim, magnam atque tenetur accusantium suscipit! Nostrum dolores, ab ex officiis error tenetur blanditiis unde quaerat vel, odit cum aliquid laudantium vero architecto? Quae aut odit voluptatibus exercitationem sunt ea blanditiis debitis tempore magni ipsa dolorum, eligendi sapiente quibusdam porro nulla itaque fuga incidunt reiciendis facere deleniti eos. Ducimus nemo fugit hic, magnam quidem architecto earum at odit laborum laudantium cumque doloremque deleniti quas fuga excepturi recusandae eum, accusamus, sint fugiat sed itaque deserunt voluptatibus repudiandae minus? Illum quidem beatae, veniam quibusdam soluta aspernatur optio nihil consequatur quaerat. Iure eveniet fugiat tenetur et voluptas voluptatum quam numquam velit libero! Iste perspiciatis exercitationem quos fugit rerum, totam nostrum. Adipisci unde enim ad earum accusantium error quos doloremque atque voluptatem! Sed, earum corporis error doloremque similique necessitatibus.
				
			
			



		include blocks/footer.pug
		include blocks/scripts.pug