- var img = '../img/';
include main.pug

doctype
html
	include blocks/head.pug
		title
	body
		+header1()
		//- include blocks/header.pug

		main.page-container
			+breadcrumbs('','Личный кабинет')
			section.section
				+return()
				.section__inner
					+cabinet()
				.button__wrapper
					+button('Перейти к покупкам','button_green','','/')

		include blocks/footer.pug
		include blocks/scripts.pug