- var img = '../img/';
include main.pug

doctype
html
	include blocks/head.pug
		title
	body
		+header1()
		//- include blocks/header.pug

		main.page-container
			+breadcrumbs('','Отзывы')
			+title('Отзывы наших клиентов','','h1','','inner')
			.button__wrapper
				+button('','button_review','','','','reviews')
				+button('Предыдущая статья','button_article','','','','','','sibling')
				+button('Следующая статья','button_article button_article_next','','','','','','sibling')
				
			
			+review()



		include blocks/footer.pug
		include blocks/scripts.pug