- var img = '../img/';
include main.pug

doctype
html
	include blocks/head.pug
		title
	body
		+header1()
		//- include blocks/header.pug

		main.page-container
			+breadcrumbs('','Рыбы')
			section.section.section_banner
				
				+banner('dog','','')

			+categories()
			+catalog('dogs','type','','','','','fish','','footprint')

						 
			
			+slider('Вам может понравиться')
			+discount()

			+partners()

		include blocks/footer.pug
		include blocks/scripts.pug