- var img = '../img/';
include main.pug

doctype
html
	include blocks/head.pug
		title
	body
		include blocks/header.pug

		main.page-container

			section.section.section_banner
				
				+banner('','cat','')

			+categories()
			+catalog('cats')
			
					 
			
			
			+slider('Вам может понравиться')
			+discount('cat')

			+partners()

		include blocks/footer.pug
		include blocks/scripts.pug